[2018-01-23 18:17] golaz opened #4 "'update' archives files that haven't changed"
On occasions, running zstash update will archive files that haven't really changed. Sometimes the timestamp of the files differs by only one second:

[code]
It is not obvious why the reported timestamp may differ by one second (NERSC Edison change?, rounding issue?). But maybe we could relax the timestamp test to add a tolerance of one second?

Current relevant code:

[code]

[2018-01-23 18:20] golaz opened #5 "New 'add' functionality"
It might be useful to implement a new 'add' functionality to add specific files into an existing archive.

Syntax would be something like:

`zstash add --hpss=<hpssDir> file1 file2 ...`

[2018-01-24 01:28] golaz opened #6 "Add '--keep' option for update"
- Add '--keep' command line option for update.
- If command line option is not specified, use preference stored in the database (this is what should be happening now, but may not be working properly).

[2018-01-24 01:38] golaz opened #7 "Improve robustness"
From @tangq: what happens if the archiving job is killed while running?

1. If zstash is in the process of adding a new file to the tar archive, we would have a tar file with an incomplete file at the end. Not a disaster, the tar file should still be readable and the database would not know about the incomplete file. Restarting with 'update' would add the missing file to the next tar archive. Howe

[2018-01-24 20:03] tangq opened #8 "Exclude a directory when it ends with "/""
I tested --exclude="dir/". The files below dir/ were still archived. For typical linux uses, when "/" is added, it is expected to affect all the content in that folder.

A possible solution is to add "*" to the exclude strings which end with "/".

A related suggestion: use --exclude="archive/rest/???[!05]-*/" to only archive restart files every 5 years, which will save a lot of time and space.

[2018-01-27 17:02] golaz opened #9 "max-size for 'update' based on 'create'"
Max size value specified during 'create' should carry over to 'update' phase.

[2018-03-02 17:01] golaz commented on #9
Verified that this works as intended in 7b526dce41fe865464d16ae9e22783ecfbf92346.

[2018-03-02 17:01] golaz commented on #6
Fixed in 7b526dce41fe865464d16ae9e22783ecfbf92346.

[2018-03-02 17:01] #6 closed

[2018-03-02 23:10] golaz commented on #4
Fixed by introducing a time tolerance of 1 second when comparing file modification times (4f1da44a0335db13eb4eb7b3beaa4568229288ad). Time tolerance could exposed as a command line argument later if needed.

[2018-03-02 23:10] #4 closed

[2018-08-29 17:15] tangq opened #11 "HPSS path is not flexible when extracting archived files"
The extract command ignores the HPSS path passed to it and still looks for archived files at the HPSS path used in the create command.

I noticed this because I renamed my HPSS directory from ACME to E3SM. When extracting, it still tries to find the archive under the ACME directory.

Can we use the HPSS path supplied to the extract command instead of the original one?

[2018-08-29 17:48] zshaheen commented on #11
@tangq This was fixed in the latest code on master. Try that and let me know if it works for you.

[2018-09-02 20:45] zshaheen commented on #11
After talking to @tangq in person about this, this issue seems resolved. Feel free to open it if something is wrong.

[2018-09-02 20:45] #11 closed

[2019-01-29 20:18] zshaheen opened #13 "Add support for checking of local, extracted files"
If you run `zstash check` or even `zstash extract`, it'll work with tars that were previously downloaded. We want to use this on the extracted files from these tars as well. Maybe do this via an `--check_extracted_files` parameter or something similar.

This will be especially useful when fixing [the broken files for the v1 DECK output](https://acme-climate.atlassian.net/wiki/spaces/SIM/pages/6689

[2019-01-30 17:20] golaz opened #14 "Revisit what's stored in 'config' table for greater portability of archives"
In the index.db database, there is a table called 'config' that stores some configuration parameters. For example:

[code]

Storing 'path' and 'hpss' makes archives not very portable. Can we get rid of these fields for new archives and never read them for existing archives?

The advantage of storing 'hpss' is that it allows for shortened usage once the index.db is on disk. For example:

`zstash ls

[2019-01-30 17:35] golaz commented on #13
@zshaheen : I don't think I fully understand how this would work... Did you mean something like:

- We could have a new `zstash verify` functionality that would do a `zstash check` and additionally check the md5 of the **local input files**? Or maybe simply `zstash check --check_local_files` or `zstash check --verify`.
- For `zstash extract`, I assume what you want to do is compute the md5 of the

[2019-01-30 17:56] zshaheen commented on #13
@golaz, I was referring to the first point you had, the checking of local, **extracted** files. My inclusion of `zstash extract` was probably confusing, this is only for `zstash check` and it's functionality.

[2019-01-31 15:54] golaz opened #15 "Implement verbosity command line option"
This should be easy. Implement a new command line option to control verbosity of zstash (i.e. select between INFO, DEBUG, etc.).

[2019-01-31 15:55] golaz opened #16 "Make 'zstash extract' smarter"
Make 'zstash extract' smarter and faster. If the target file is already on disk, with the right size and modification time stamp, skip extraction. Maybe add a '--force' or '--all' option to override this new default behavior.

[2019-01-31 15:59] golaz opened #17 "Performance improvement (background, parallel hsi get)"
To improve performance of `zstash extract`, execute multiple `hsi get` in parallel (with user control flag to set max number) and in the background rather than proceeding purely sequentially as zstash now does:

- Retrieve the first relevant tar file from HPSS
- Extract relevant files
- Repeat with the next tar file.

[2019-01-31 18:11] zshaheen commented on #16
We can even make most commands faster by using [`hsi stage`](http://pal.mgleicher.us/HSI/hsi/hsi_reference_manual_2/hsi_commands/stage_command.html) to prefetch a tape to the cache.

[2019-02-07 16:23] maltrud opened #19 "zstash update error recovery"
my latest zstash update failed due to an I/O error:
--------
INFO: Transferring file to HPSS: zstash/000032.tar
Traceback (most recent call last):
  File "/global/project/projectdirs/acme/software/anaconda_envs/edison/base/envs/e3sm_unified_1.2.4_py2.7_nox/bin/zstash", line 11, in <module>
    load_entry_point('zstash==0.1.0', 'console_scripts', 'zstash')()
  File "build/bdist.linux-x86_64/egg/zst

[2019-02-07 19:29] golaz commented on #19
@maltrud: zstash appears to have failed when writing to the database. As you mentioned, this may be a disk quota problem. Can you point me to the directory with the zstash subdirectory so that I can take a look at the database and decide how best to recover?

[2019-02-07 19:41] maltrud commented on #19
@golaz : /scratch3/scratchdirs/maltrud/E3SM_simulations/20181217.BCRC_CNPCTC20TR_OIBGC.ne30_oECv3.edison/archive/20181217.BCRC_CNPCTC20TR_OIBGC.ne30_oECv3.edison

[2019-02-07 20:04] golaz commented on #19
Thanks. As I expected, the database does not include any information about the last tar file (000032.tar) because the database write failed. I want to check whether that last tar file in on HPSS, but HPSS is currently down.

I'll check again later. Remind me if you don't hear back from me.

Also, I see some unexpected sub-directories under your zstash directory:

[code]

Typically, the only thing

[2019-02-07 20:08] maltrud commented on #19
@golaz thanks for checking.  the atm and ice directories in the zstash dir came from when i manually extracted some files from a tar file that had reported an error, but was able to confirm the files were ok by comparing with the originals.

[2019-02-07 22:18] golaz opened #20 "Increase width of center pane on documentation pages"
https://github.com/E3SM-Project/zstash/commit/c7220c0cb2e571fe448549be66976533ead11584 was an attempt to increase the maximum width of the center pane on the documentation pages following the top suggestion on:

https://stackoverflow.com/questions/23211695/modifying-content-width-of-the-sphinx-theme-read-the-docs

It works when the pages are viewed locally, but not when they are served by Github.

[2019-02-07 22:38] golaz commented on #20
Received following email from GitHub

[2019-02-12 15:09] golaz commented on #20
It's working now; not sure why.

[2019-02-12 15:09] #20 closed

[2019-02-12 15:16] golaz opened #21 "Add option to work without HPSS"
E3SM dedicated machines (anvil, compy) do not have HPSS storage attached to them. It is currently up to individual users to decide on the best way to free disk space when needed. This is inefficient and could lead to unfortunate data loss.

One remedy would be to implement an option for zstash to work on systems without HPSS. This could take two forms:

1. Only create local tar archives in the zst

[2019-02-12 15:27] golaz commented on #19
@maltrud : my suggestion for recovering.

1. Login to hsi and delete the last tar file (000032.tar) which was not recorded in the database:
[code]
2. Rerun `zstash update`

[2019-02-12 15:31] golaz opened #22 "v0.3 release"
Test, document, release. Ask to incorporate into E3SM unified environment.

[2019-02-12 15:56] golaz opened #23 "Add message when check completes successfully"
If a failure is encountered during `zstash check`, `zstash` will list files with problems at the end. If `zstash check` completes successfully, nothing is printed. Add a message stating that `zstash check` completed successfully.

[2019-02-12 16:27] maltrud commented on #22
@golaz and @zshaheen when will this be available as part of e3sm_unified?

[2019-02-12 16:34] golaz commented on #13
We should implement this as  `zstash extract --verify`: full `zstash check` with an additional check against local files.

[2019-02-12 16:37] golaz commented on #22
@maltrud, most of the enhancements should be simple to implement, but some may require a little more work (https://github.com/E3SM-Project/zstash/issues/13, https://github.com/E3SM-Project/zstash/issues/17).

It depends on how much time @zshaheen has for this, but I would expect this could be done within 2 weeks??

[2019-02-12 18:05] maltrud commented on #19
@golaz just (hopefully) 1 more question:  the index.db file on hpss is older than my local one since zstash crashed before it could be saved.  should i remove the hpss version, or will it be ignored in the zstash update?

[2019-02-12 19:11] golaz commented on #19
@maltrud, to be very safe, rather than delete it, you could just overwrite it with the newer one:

[code]

[2019-02-12 19:30] maltrud commented on #19
thanks, @golaz . that is what i was planning to do--great to have confirmation.

[2019-02-12 19:52] zshaheen commented on #5
This is basically a targeted `zstash update`.

[2019-02-19 22:11] xylar commented on #22
I'll go ahead an put in a placeholder for zstash in the next version of e3sm-unified.

[2019-03-02 00:46] golaz opened #24 "zstash check creates empty directory structure"
Minor bug that should be easily fixed. When running zstash check, zstash still creates the output directory structure. I think it's a matter of relocating if statement in extract.py near line 139:

[code]

`os.makedirs(path)` should only be invoked if `keep_files` is True.

[2019-03-26 20:20] zshaheen commented on #16
When doing this, I'm **not** checking the md5 of the file on disk. But if that's needed, we can easily do that.

[2019-03-26 22:56] zshaheen commented on #16
When getting the modified timestamp of a file, both `os.stat(file_path).st_mtime_ns` and `os.path.getmtime(file_name)` do not give the millisecond precision, unlike what's stored in the `index.db`. So we'll compare based off the seconds, which isn't the most precise metric.

[2019-03-26 23:45] zshaheen commented on #19
Hi @maltrud, if this still is an issue, feel free to open it. For now, I'm closing it.

[2019-03-26 23:45] #19 closed

[2019-03-26 23:47] zshaheen commented on #16
@golaz, for now, both symlinks and empty dirs are extracted again, even if they are on disk. It makes the code *a little* more simple. If you do not want this, I can make sure that symlinks and empty dirs are not extracted again. The performance differential isn't that much.

[2019-03-27 19:47] zshaheen commented on #17
I'll do this, but this might not have many improvements. I'd assume a user's bandwidth is limited, so the data throughput would remain the same with multiple hsi get commands. However, because we're obtaining multiple large tar archives at the same time, the time to download a single file is increased. To a user, it would seem that the performance of zstash is poor.

In situations like this, [back

[2019-03-27 19:52] maltrud commented on #19
@zshaheen , i talked with Qi Tang about his experiences using zstash last week.  it seems there are 2 possibly significant differences between his (and @golaz 's) and my workflow.  1) i run from edison, not dtn.  2) my output is on edison scratch, not cscratch (so i can't use dtn).  do you think these could be responsible for the many failures i had (both hpss errors and errors writing to index.db

[2019-03-27 20:36] zshaheen commented on #24
Fixed in 8c3d8b631b876c7028b2b19d2226da621f20b61b.

[2019-03-27 20:36] #24 closed

[2019-03-27 21:51] zshaheen commented on #19
Unlike Qi and Chris, I too run via Edison and not the DTNs, but I don't think that makes a difference in this case. So I'm using the same version of `hsi` that you are.

Now for very long extractions, I do run on `$CSCRATCH`. But most of the 100's of times I've tested the software, it's from my home directory. I've never seen this `sqlite3.OperationalError: disk I/O error` error before.

Like Chri

[2019-03-27 22:14] maltrud commented on #19
i thought at first it might be related to quota (since i was way over), but even after i dropped well below quota i still got both of these errors.  all of mine were very long jobs so took a while to fail--sometimes a few hours, other times more and other times it didn't fail at all.  i wonder if you tried a very long one on edison scratch if you might find a problem.

[2019-04-02 15:39] golaz commented on #19
@maltrud : I have successfully performed very long archiving jobs (up to several days) on NERSC DTNs with data on `$CSCRATCH`. Failures that I have experienced were related to `$CSCRATCH`, DTN or hsi going down.

[2019-04-03 15:30] matthewhoffman opened #25 "Question on NERSC Best Practices"
In looking over https://e3sm-project.github.io/zstash/docs/html/best_practices.html , it seemed to me that a better approach on NERSC is to submit a job using zstash to the transfer queue:
https://docs.nersc.gov/filesystems/archive/#use-the-xfer-queue

Has that approach been tested?

[2019-04-03 16:24] zshaheen commented on #25
Hi @matthewhoffman. This approach has not been tested. In fact, I think most users of zstash just run it on a login node, without submitting a batch job.

I'd guess one reason that this is recommended is to limit the number of HPSS instances to 15<sup><a href="https://docs.nersc.gov/jobs/examples/#xfer-queue">[1]</a></sup>. The part I'm hesitant about is:
[code]
Most of the tar archives are in 64G

[2019-04-03 17:01] matthewhoffman commented on #25
@zshaheen , I've used the transfer queue in the past for 500GB+ transfers without a problem.  I added
[code]
to my submit script, based on the documentation:

Might be worth exploring at some point in the future.

[2019-04-03 21:08] zshaheen commented on #16
@golaz, any input? If not, symlinks and empty dirs will be extracted. It shouldn't make much of a difference in performance or the output. But it does make the code more simple.

[2019-04-04 00:24] zshaheen commented on #16
Done in 9eda0adabdcf9adaddf768ee80783ad98bf4f561.

[2019-04-04 00:24] #16 closed

[2019-04-04 21:11] golaz commented on #25
@matthewhoffman,

I have used the xfer queue in the past. It works and that is definitely an option that could be added to the best practices documentation page (you are welcome to do so if you'd like).

The main reason I have not been using for most archiving tasks is the wall clock limit of 48 hours. For moderately-sized archiving jobs, 48 hours should be sufficient. But for really large archivi

[2019-04-04 21:13] golaz commented on #16
@zshaheen: I don't see any problems extracting symlinks and empty dirs again. There is virtually no performance impact.

[2019-04-08 18:07] golaz commented on #17
@zshaheen : have you checked whether Celery will run on NERSC (login and data transfer nodes)? Celery requires a broker for message transport (http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html) and I'm wondering whether that could be an issue. We don't want to over-engineer this feature and in the process make it very difficult to install and run zstash.

[2019-04-08 18:11] zshaheen commented on #17
@golaz, yes I did think about that. My current implementation will just involve `multiprocessing` and other default synchronization primitive (`theading.Lock`, `threading.Semaphore`, `threading.Condition`, etc). With these, I think I'd be able to make the printing to the terminal orderly.

[2019-04-19 18:01] zshaheen commented on #17
The majority of this work was completed in 72b258445f470b1f5c9bb62b9ff1c1cf527ac588. There are some outstanding issues however:
- [ ] When there are MD5 failures with parallel `zstash extract`/`zstash check` (the same code is used to run both of these), the software hangs.
  - Failures are added to a queue (`multiprocessing.Queue`), which is used to propagate the failures that each process encount

[2019-04-30 05:14] zshaheen opened #26 "Prompted for login info when running hsi at Livermore Computing (LC)"
When trying to run `zstash` on the LC machines, we get prompted for a `Principal` and `OTP`. This isn't ideal and I'll see if there's a way around this.

[2019-05-01 17:20] zshaheen commented on #23
Done in 6a16b607cc723d5972b3a1aaeeb1a06a717e657a.

[2019-05-01 17:20] #23 closed

[2019-05-01 19:42] zshaheen commented on #17
The parallel running was working in 0d5151ab753561b8ce76aef040011d2e1959f9cf, the tests were added in 15f21f598c78be48ff2429dea746d711f698eb96. The documentation was updated in 3575901a89526a9c7455db41cccd1a8010cf7601.

[2019-05-01 19:42] #17 closed

[2019-05-07 14:18] matthewhoffman commented on #9
@zshaheen , I believe the instructions for the 'update' phase here:
https://e3sm-project.github.io/zstash/docs/html/best_practices.html#
should be adjusted to remove the --max-size option from the command based on this issue..  When I tried the command as written I received an error saying --max-size was an invalid option.

[2019-05-13 02:51] zshaheen commented on #9
@matthewhoffman, I'm reopening this issue and I'll see what's up. Looking at the code, it seems like we don't have a `--maxsize` arg. I'll add it in.

[2019-05-13 13:43] matthewhoffman commented on #9
@zshaheen , I think this issue can remain closed, it's just that the instructions linked above need to be updated to remove the --max-size option from the command described for the 'update' phase.

[2019-05-13 14:23] golaz commented on #26
I believe @tangq has been using ztsash on LC. You may want to check with him to see how it performs.

[2019-05-13 14:25] golaz opened #27 "Print version number"
Add option to print zstash version number. At a minimum as part of

`zstash -h`

[2019-05-14 21:36] zshaheen commented on #26
After a few phone calls and emails with Livermore Computing, I'm able to use `hsi`. Testing v0.2.0 of zstash works on oslic, the dedicated DTN.

---

The issue was that as an intern, my LC account had restricted zone (RZ) access. Due to this, I was asked for some login information for my non-existent RZ token when using `hsi`. Also with an RZ account, you're supposed to move the data from it's HPS

[2019-05-14 21:36] #26 closed

[2019-05-29 18:30] zshaheen opened #29 "When running with multiprocessing, when piping the output, the output is out of order."
When running the tests with multiprocessing, when piping the output of the processes to Python's `subprocess.PIPE` it was **not** in order. When I didn't pipe the output, everything printed out fine. I assumed it was something with how piping worked with Python. Most users wouldn't run `zstash` with a Python `subprocess`, so I ignored it.

However, even when using the shell to pipe the output, the

[2019-05-29 19:08] zshaheen commented on #29
Below is the output of running [this test in the test suite](https://github.com/E3SM-Project/zstash/blob/b62b82a1b3677b4d4b79035706650657100b1f79/tests/test.py#L242-L261). The `run_cmd()` function pipes the output to `subprocess.PIPE`. The tars are examine out of order.
[code]

When running the same test without piping to `subprocess.PIPE`, all is fine. Ignore each line that begins with `<zstash.p

[2019-05-30 21:47] golaz commented on #29
Could this explain what you are seeing?

https://stackoverflow.com/questions/27868312/correcting-out-of-order-printing-from-stream-redirection

Buffering behaves differently when outputting to the terminal or redirecting.

[2019-05-31 22:22] zshaheen commented on #15
When doing so, I might add a new level underneath `DEBUG` for some of the parallel debugging functionality. Mainly, it would be for the below statement in `extract.py` which prints what each worker is doing.

[code]

[2019-05-31 22:28] zshaheen commented on #29
@golaz, with your input and more Googling, just adding `flush=True` in the `print()` function seems to make it work. This was done in 48664805b7165051b7343579920c74057f2f4fc7.

The test suite with a test for this now passes. Piping adds the output to a buffer. We need to force the buffer to flush its contents to the terminal. When we do, all is fine and in order.

I will close this issue after I t

[2019-05-31 23:07] zshaheen commented on #27
This was done in e38c12003970228abb5a0608f686fa2f55a8f085.

When a user runs `zstash -h`, the below is seen.
[code]

We've also added the `version` argument, which prints the version.
[code]
Usually, we'd have `zstash -V`, but a positional command (`create`, `extract`, etc) is required . Trying to work around this would make this more complex than needed.

[2019-05-31 23:07] #27 closed

[2019-06-03 16:21] zshaheen commented on #29
In the image below, the output on the left is `zstash extract` without any multiprocessing. The output on the right is the same `zstash extract` command, but with `--workers=3`.

Now we can see that there are **not** any real differences  between the two logs.

![img](https://user-images.githubusercontent.com/4239938/58817310-52cf5a00-85e0-11e9-9a86-c66a73376827.png)

[2019-06-03 16:21] #29 closed

[2019-08-15 22:21] cameronsmith1 opened #30 "Suggestion: Document that zstash create won't create a sub-directory"
Suggestion: In documentation for zstash create: mention that it won't create a sub-directory in the directory specified by --hpss, ie the user must include the sub-directory they want in the --hpss specification.

[2019-08-15 22:22] cameronsmith1 opened #31 "Suggestion: Modify zstash check, to state if the checks are all OK."
Suggestion: Modify zstash check, to have a clear statement at the end if the checks are all OK.

All I got at the end of my 'zstash check' was:

[code]

[2019-08-15 22:25] cameronsmith1 opened #32 "How to determine the version of zstash being used?"
Is there a way to determine the version of zstash being used?

This can be particularly useful to (i) know that the version being used is the latest, and (ii) reporting errors.

I could not find this in the documentation, and guessing at arguments, such as --version, didn't work for me.

[2019-08-19 22:24] zshaheen commented on #32
Yes, there is:

[code]

Hmm, [this error message defined by `usage`](https://github.com/E3SM-Project/zstash/blob/master/zstash/main.py#L22) should have been printed when asking for help. It must mean that you have a version older than `v0.3.0`.

With an older version (or even the most recent version), I think you can check the version like so:
[code]

---

The reason as to why `zstash -v` or `zsta

[2019-08-19 22:28] zshaheen commented on #31
As you can see [in `check.py`](https://github.com/E3SM-Project/zstash/blob/master/zstash/check.py), it does exactly what extract does (which includes the checking), but doesn't keep any files. Looking at the [latest code for `extract.py` you can see that we have a message displayed](https://github.com/E3SM-Project/zstash/blob/master/zstash/extract.py#L197).

All you need to do is upgrade your vers

[2019-08-19 22:28] #31 closed

[2019-08-19 22:31] zshaheen commented on #30
@golaz, this seems like a good point. It's up to your discretion if you want to make a note of this, [probably here where you talk about `<local_path>`](https://e3sm-project.github.io/zstash/docs/html/usage.html#create).

[2019-08-19 23:18] cameronsmith1 commented on #32
That syntax is fine with me.  However, it would be good to add it to the list of commands discussed on the usage page (https://e3sm-project.github.io/zstash/docs/html/usage.html).

Your python command says that I am using v0.2.0 (I am working on Cori at NERSC).   However, when I try to update using the command given in the installation documentation ```conda update zstash -c e3sm -c conda-forge```

[2019-08-19 23:21] cameronsmith1 commented on #30
Per our conversation in https://github.com/E3SM-Project/zstash/issues/32, I am using v0.2.0, however I cannot seem to update to v0.3.0

[2019-08-19 23:54] zshaheen commented on #32
I'm not sure why that's no longer working, as you can see, [we have v0.3.0 in the `e3sm` channel on Anaconda](https://anaconda.org/e3sm/zstash/files). I guess for your own sake, you can just create a new env from scratch, making sure that you get the latest version.

However, this should be investigated.

[2019-08-20 21:37] cameronsmith1 commented on #32
The zstash instructions for Cori (https://e3sm-project.github.io/zstash/docs/html/installation_and_updating.html) say to load python-2.7 and zstash_env, which is what I was doing.  When I load the e3sm_unified environment I get zstash v0.3.0.

Do the instructions just need to be updated?

[2019-08-20 22:35] zshaheen commented on #32
Yes, good idea. I don't work at LLNL anymore. ¯\\\_(ツ)_/¯

[2019-08-20 23:04] cameronsmith1 commented on #32
Thank you for staying engaged and moving this forward :-).

[2019-08-20 23:33] cameronsmith1 commented on #32
For updating the installation documentation (https://e3sm-project.github.io/zstash/docs/html/installation_and_updating.html), would the easiest thing be to point to the e3sm_unified instructions (although not everyone has access to the E3SM Confluence pages)?

[2019-08-21 00:12] chengzhuzhang commented on #32
@cameronsmith1 Thanks for the suggestion! Using `e3sm_unified` will be the most straightforward approach to use `zstash` . I'm happy to help update the installation doc by adding a section `to use zstash via e3sm_unified`. But please us know if you encounter issues specific to run it in the `e3sm_unified`.

[2019-08-21 00:39] cameronsmith1 commented on #32
Thanks for your help, @chengzhuzhang .  On the basis of the recent discussions on this issue and https://github.com/E3SM-Project/zstash/issues/30, I think there are 3 opportunities to improve the documentation for zstash:

1. Update the installation & update instructions to include e3sm_unified.
2. Add 'zstash version' to the usage page.
3. For 'zstash create', clarify that the argument to --hpss

[2019-08-21 14:47] golaz commented on #32
@cameronsmith1 : thanks for your suggestions. I have now updated the documentation to include the changes you suggested.

[2019-08-21 14:47] #32 closed

[2019-08-21 14:48] golaz commented on #30
The documentation has been updated to indicate that the HPSS path should be unique for each zstash archive.

[2019-08-21 14:48] #30 closed

[2019-08-21 14:51] golaz commented on #25
Closing now. The currently recommended E3SM best practices is to archive from NERSC data transfer nodes using zstash from the E3SM unified environment. A 'screen' session is recommended for long archival tasks.

[2019-08-21 14:51] #25 closed

[2019-08-21 14:53] golaz commented on #22
Done. @zshaheen released v0.3 and @xylar incorporated in E3SM unified. Added recommendation to use E3SM unified environment on zstash documentation.

[2019-08-21 14:53] #22 closed

[2019-08-21 15:34] golaz commented on #9
@matthewhoffman : thanks for noticing the inconsistency in the documentation. I have now fixed it.

[2019-08-21 15:34] #9 closed

[2019-08-27 22:19] tangq opened #33 "Delete tar option"
I feel it is useful to have the delete tar file option when extract or check with zstash. This function is particularly useful for simulations with large data size. I recently ran an ensemble simulations. Each member has over 30 tar files. Checking them almost used up all my scratch space.

[2019-10-04 18:23] golaz commented on #33
This has been merged: https://github.com/E3SM-Project/zstash/commit/1961c45aad02fc03377e714c6766e9fb7241d55f

[2019-10-04 18:23] #33 closed

[2019-10-04 23:56] golaz commented on #15
Done in 9814be8693f6ab2388601d42634f0f9f2d545677

[2019-10-04 23:56] #15 closed

[2019-10-18 18:08] sterlingbaldwin opened #36 "md5sum vs hashlib"
I recently had to hash a large number of mpaso files, and found that using the "md5sum" cli tool was about 3x faster then the hashlib method used by zstash. Not a huge difference since most of the time zstash is waiting on hsi, but it would be fairly simple to replace the current hashlib method with calls to the md5sum utility.

[2019-10-18 20:46] golaz commented on #36
Interesting; I was not aware of that. For zstash, I implemented a streaming model that adds file to the tar file at the same time as it computes the md5sum. This considerably reduces I/o as it avoids reading the entire file twice (once for hashing and once for tarring). That is something that can be implemented quite simply with hashlib, but I don't think it could be done with the command line md5

[2019-10-18 20:51] sterlingbaldwin commented on #36
That makes sense. I didnt realize it was skipping a step by not writing out twice, this is probably the better approach I just happened to notice that for doing hashes one file at a time that md5sum was faster but it might not work for file chunks in memory.

[2019-10-18 20:51] #36 closed

[2019-11-13 21:00] eroesler opened #37 "Extracting Simulations on NERSC"
Hi,
I'm trying to extract high resolution simulations stored on NERSC:
/global/cscratch1/sd/acmedata/E3SM_simulations/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS18v3_ICG/

into my scratch space:
/global/cscratch1/sd/eroesler/e3sm_viz

Following the github io, I've loaded the latest e3sm unified environment on NERSC.
I try to query the zstash log for where the files are via zstash

[2019-11-13 21:07] beharrop commented on #37
Hi @eroesler , HPSS is down today for maintenance (https://www.nersc.gov/users/live-status/).  I was also trying to run zstash this morning, unsuccessfully, when I realized that.

[2019-11-15 19:35] eroesler commented on #37
Hi @beharrop :  Thanks!  I didn't see that.  I'm trying again this afternoon but no luck getting connected to the data transfer nodes.

[2019-11-15 19:41] tangq commented on #37
@eroesler , I happen to archive some simulations now. dtn02 and dtn03 are working fine for me. Which dtn node did you try?

[2019-11-15 19:44] eroesler commented on #37
Hi @tangq :  It was dtn01.   I'll try those others!  Thank you, I didn't know they existed!

[2019-11-15 20:27] eroesler commented on #37
@beharrop :  Can you please advise on if I need to run interactively on the data nodes to extract?
Is this possible on a data transfer node?   https://docs.nersc.gov/jobs/interactive/

From $mydir, I'm trying to extract the ocn directory:

zstash extract --hpss=2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS18v3_ICG ocn/*

And get
EBUG: stderr:
b'Generat

[2019-11-15 20:44] tangq commented on #37
You don't need to run interactively. You can find step-by-step instructions on how to retrieve data using zstash on data transfer nodes on [this page](https://acme-climate.atlassian.net/wiki/spaces/ED/pages/668959422/v1+DECK+output+HPSS+archive).

It seems you are trying to extract some files I archived...

After sourcing the e3sm unified env, try this
`zstash extract --hpss=/home/t/tang30/2019/E3

[2019-11-15 21:50] beharrop commented on #37
The zstash documentation is quite good.  They have a "best practices" page (https://e3sm-project.github.io/zstash/docs/html/best_practices.html) that pretty much walks through the step-by-step process for all of the basics.

[2019-11-15 21:50] eroesler commented on #37
@tangq :  Thank you for posting this and your help.
The error prevails with guidance to run interactively.  I'm following the guide on github:
https://e3sm-project.github.io/zstash/docs/html/best_practices.html#nersc

Was the Confluence page created before the guide?  There's information about installing zstash, but from the guide, is it loaded with e3sm_unified?

Here's my step-by-step.... I'm pr

[2019-11-15 21:58] beharrop commented on #37
I get the following when I run the same commands as you.

`DEBUG: Opening index database
INFO: Transferring from HPSS: zstash/index.db
DEBUG: Running zstash extract
DEBUG: Local path : /global/cscratch1/sd/acmedata/E3SM_simulations/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS18v3_ICG
DEBUG: HPSS path  : /home/t/tang30/2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCY

[2019-11-15 22:02] beharrop commented on #37
If I change the command to `zstash extract --hpss=/home/t/tang30/2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS18v3_ICG "*ocn/*"`, then it begins downloading 000037.tar.   I'm not sure what I am getting with that, but maybe there is something amiss with the naming structure that would solve your problem....

[2019-11-15 22:04] eroesler commented on #37
@beharrop :  Thanks for rerunning those commands.   I'm at a loss...

I've tried Qi's command:
``$ zstash extract --hpss=/home/t/tang30/2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS18v3_ICG "*/ocn/*"``

And an earlier one listed above:
``$ zstash extract --hpss=2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCYCL1950S_CMIP6_HR.ne120_oRRS1

[2019-11-15 22:05] tangq commented on #37
The confluence page created after the guide and relies on e3sm unified envs, so no need for every user to install zstash.

Without "*", it tries to file the exact matching of "/ocn/", which doesn't exist.

[2019-11-15 22:06] eroesler commented on #37
Hmmm...I've got the stars and quotes in there, just like you listed above.

[2019-11-15 22:07] tangq commented on #37
Can you remove the zstash folder and try again?

[2019-11-15 22:10] eroesler commented on #37
Same error as before after removing....

Out of curiosity, do you get these errors when you source the e3sm_unifed environment?

``$source /global/project/projectdirs/acme/software/anaconda_envs/load_latest_e3sm_unified.sh
module swap PrgEnv-intel PrgEnv-gnu
bash: module: command not found
module unload craype-hugepages2M
bash: module: command not found``

[2019-11-15 22:14] tangq commented on #37
I got these module errors in recent a couple of days. It also seems varying by login nodes.

[2019-11-15 22:19] tangq commented on #37
Um...interesting. Your error suggests that the error happens when retrieving zstash/index.db.

I would suggest logging out and logging in with a new terminal, then trying from a new folder.

Same commands seem working for @beharrop and me..

[2019-11-15 22:27] beharrop commented on #37
Yes, I get those same errors too when I source e3sm_unified on the data transfer nodes.  I have also used zstash on the regular cori login, at which point I get no such errors.  The transfers are slower, but not by much in my experience.  Perhaps you could try using the login node just to see if it's something weird with the DTNs.

[2019-11-17 00:00] golaz commented on #37
@eroesler:

I get the same error as you do when activating the E3SM unified environment on the dtn. These errors are new. I used the unified environment earlier this week without seeing them. However, the errors appear to be harmless and not affect zstash. The following commands work for me

`zstash ls --hpss=/home/t/tang30/2019/E3SM_simulations/HR_paper/theta.20180906.branch_noCNT.A_WCYCL1950S_CM

[2019-11-19 14:40] eroesler commented on #37
Thank you for the help and feedback.   I'm still getting errors with logging-out and back in, not using screen, using the login-nodes, and trying in a different directory.

The ``zstash ls`` command is not even getting the index.db and crashing there:  ``ERROR: Transferring file from HPSS: index.db``

What do your environments look like when you're on Cori's login nodes?    This might be our diffe

[2019-11-19 14:50] tangq commented on #37
I use default environments on NERSC, no special changes.

[2019-11-19 16:46] tangq commented on #37
@eroesler , any luck? If you still have issues, you may want to open an issue with the link [here](https://e3sm-project.github.io/zstash/docs/html/support.html). The developer of zstash will be able to provide more help.

[2019-11-19 19:02] eroesler commented on #37
@golaz figured it out!    He said, "Type ``hsi`` into the command line on the login-node."   It asked me for a password + OTP.  He said that it should not do that and to submit a ticket.

In looking at storage at NERSC, I found the following information:
https://docs.nersc.gov/filesystems/archive/#automatic-token-generation
_"The first time you try to connect from a NERSC system (Cori, DTNs, etc.)

[2019-11-19 19:02] #37 closed

[2020-01-08 01:19] sterlingbaldwin opened #38 "'ls' works without the /archive at the end of the path, but then the 'extract' will fail"
When listing a set of files with an hpss path such as "/home/m/maltrud/E3SM/20181217.BCRC_CNPCTC20TR_OIBGC.ne30_oECv3.edison," zstash will happily list out the contents of the archive, but then if you try and run the same command with "extract" it will fail (it works fine if you use the path /home/m/maltrud/E3SM/20181217.BCRC_CNPCTC20TR_OIBGC.ne30_oECv3.edison/archive). Zstash should probably eith

[2020-01-08 02:09] zshaheen commented on #38
Can you go to another directory and try the same zstash extract command, without doing an ls? Does that work?

[2020-01-08 18:11] sterlingbaldwin commented on #38
I'll try wiping the zstash directory between the `ls` and the `extract` to see what happens, but regardless this is an unexpected behavior. Regardless, I would think that it should behave similarly with both commands on the same path.

[2020-02-02 04:45] minxu74 opened #41 "sqlite3.OperationalError: disk I/O error on NERSC cfs file systetm"
On NERSC cfs system, there was an error when running zstash on the NERSC cfs file system.  The reason should be caused by the file system. Will it be possible to let users define the location of zstash directory instead of the default one under local path?

[code]

[2020-02-03 15:14] minxu74 commented on #41
It seemed  to be a common problem for sqlite files stored in the NFS or journal file systems.

[2020-02-03 22:12] rljacob commented on #41
@minxu74 do you have a pointer to something discussing this issue with sqlite files?

[2020-02-04 00:00] golaz commented on #41
Currently, zstash does not have an option to specify an alternate location for storing local cache files.
Could it be that zstash is failing in this case because you do not have write permission?

[2020-02-04 03:55] minxu74 commented on #41
@rljacob please find some discussions in the following links:
https://stackoverflow.com/questions/47540607/disk-i-o-error-with-sqlite3-in-python-3-when-writing-to-a-database
https://stackoverflow.com/questions/9907429/locking-sqlite-file-on-nfs-filesystem-possible
https://stackoverflow.com/questions/29244788/error-disk-i-o-error-on-a-newly-created-database
https://stackoverflow.com/questions/99935

[2020-02-05 16:27] golaz opened #43 "Option to specify alternate location for local zstash files"
Currently, zstash will store local copies of database and tar files under the sub-directory `zstash/`.

In certain cases (see for example https://github.com/E3SM-Project/zstash/issues/41), it might be useful to have the flexibility to specify and alternate location, maybe with a new command line argument:

`--cache=...`

Is this worth considering implementing? Or would it just add unnecessary conf

[2020-02-05 16:30] golaz commented on #41
@minxu74 : thanks, that explains the error. I opened up a new issue (https://github.com/E3SM-Project/zstash/issues/43) for the possibility to specify an alternate location for local zstash files.

Additional discussion should go there. There would be pros and cons for doing so.

[2020-02-05 16:30] #41 closed

[2020-02-06 23:51] forsyth2 opened #44 "Refactor to remove code duplication"
There's a fair amount of code duplication in the functional code and especially the tests that can be replaced with helper functions.

[2020-02-18 22:46] forsyth2 commented on #44
Resolved in #46

[2020-02-18 22:46] #44 closed

[2020-02-18 22:47] forsyth2 commented on #21
Step 1 ("Only create local tar archives in the zstash subdirectory. The user could then transfer tar and index.db files for offline storage.") is resolved in #42. Step 2 ("Implement a remote HPSS option using globus.") still needs to be implemented.

[2020-02-26 18:30] forsyth2 opened #51 "Update Zstash to run on macOS"
The command `display_mode = "stat --format '%a' {}".format(file_path).split()` added in `hpss.py` in #42 only works on Linux. There needs to be a different command for macOS.

[2020-02-26 18:31] forsyth2 commented on #51
@golaz @chengzhuzhang I'm assuming most people use Zstash on Linux, but let me know if we should try to get this into v0.4.0 (or it might need to be v0.4.1).

[2020-02-26 19:48] golaz commented on #51
This can be part of a future release. Instead of relying on an external call, is it possible to rewrite this using Python built-in `os.stat()` function?

[2020-02-26 21:14] golaz commented on #43
Similar suggestion from Tony Bartoletti:

[2020-02-26 21:23] golaz opened #52 "chown error"
Reported by Tony Bartoletti:

We now have

ls -l /p/user_pub/e3sm/archive/1_0/20180316.DECKv1b_A1.ne30_oEC.edison/

total 0

drwxr-xr-x 2 bartoletti1 climate 4096 Feb 26 10:29 zstash

ls -l /p/user_pub/e3sm/archive/1_0/20180316.DECKv1b_A1.ne30_oEC.edison/zstash

-rw-r--r-- 1 bartoletti1 climate 274314434560 Feb 25 10:23 000000.tar
-rw-r--r-- 1 bartoletti1 climate 274314434560 Feb 25 09:48 000001.t

[2020-02-26 21:35] rljacob commented on #43
This is definitely worth doing.

[2020-02-26 21:50] golaz opened #53 "zstash check deleting local tar file"
I thought we fixed this, but maybe not completely or it came back?

I'm running zstash on compy (without HPSS). `zstash create` worked fine, but `zstash check` deletes the files after checking is done. Here is what I did:

[code]

I wonder whether it has to do with the fact that I'm not specifying `--hpss=none` on the command line the second time around, instead relying on what is stored in the da

[2020-02-26 22:22] forsyth2 commented on #53
@golaz can you specify which files are being deleted?
I created a directory and ran the following from there:
[code]

[2020-02-27 21:35] #53 closed

[2020-03-04 00:02] forsyth2 commented on #43
We'll include the `--extract-dir` option in a separate issue/PR.

[2020-03-04 11:44] xylar opened #59 "zstash update --hpss=none not working as expected"
I created a local zstash of a run on Anvil:
[code]
with the idea of moving it to HPSS on NERSC via globus.  But I wasn't using screen and I got disconnected part way through the stashing.

I'm now running:
[code]
and getting:
[code]
It looks like I will need to start over but I would like to have this work in the future.

[2020-03-04 16:28] golaz commented on #59
@xylar : I tried the same steps on compy and was not able to reproduce the issue. Are you using zstash v0.4.1?

[code]

[2020-03-04 16:32] xylar commented on #59
@golaz, yes, I'm using 0.4.1.  I think the difference between what you tried and what I'm doing is maybe that the original `zstash create` didn't finish cleanly and I'm trying to use the `zstash update` to resume where it left off.  But that's only a guess.

[2020-03-04 17:26] golaz commented on #59
@xylar, you are exactly right.

When we implemented the `--hpss=none` option, I suggested to @forsyth2 that we make the tar files read-only for added safety. But while it should work most of the time, it must be the source of your error. Here is what must have happened:

- By design, the database only gets updated **after** the tar file is successfully closed (and transferred to HPSS or in the cas

[2020-03-04 17:38] forsyth2 commented on #59
@golaz I think your analysis is correct. As for the solution, I'm leaning towards (2) to keep the added safety but fix the edge case bug. The question though is how do we know if the tar file should not be there? Yet another user-supplied option/flag such as `--force`?

[2020-03-04 19:18] xylar commented on #59
@golaz, I think my case doesn't quite fit your description.  I had 11 tar files (0 to a) at the time I tried to switch to `zstash update` but the glitch happened on file 0 anyway.  So I wonder if the database was corrupted.  Unfortunately, I deleted it to start over but if it happens again, I will definitely try to share the details.

[2020-03-05 00:28] golaz commented on #59
@xylar, indeed your failure doesn't match my hypothesis. I don't have a good explanation for what may have happened there. Some sort of problem with the database is likely.

[2020-03-05 00:52] golaz commented on #59
@forsyth2 : we could consider adding a check when `zstash update` starts to verify that there are no unexpected `??????.tar` files in the local cache or on HPSS. And if there are, quit and tell the user to delete them themselves. Or rerun with the `--force` option if we decided to implement one.

Note that it is important to do this right away when `zstash update` starts. It can take a very long t

[2020-03-05 22:38] zshaheen opened #60 "Support for replicas"
I think that it's possible for `zstash` to support another HPSS repository/directory
to store data in. This would greatly help in diagnosing/averting the data
corruption problem that I'm guessing is still exhibited.

## Current Schema

| `config` Table |
| -------------- |
| [PK] arg (text) |
| value (text) |

| `files` Table |
| ------------- |
| [PK] id (int) |
| name (text) |
| size (int) |
| m

[2020-03-11 00:09] lukaszlacinski opened #62 "Add checksums for tar files"
In a use case where a user needs to work on a remote machine on different sets of files (unknown upfront) extracted the same zstash tarballs, the user has to extract all files and transfer them to the remote machine. It will be more efficient to transfer the entire zstash tarballs once and extract needed files on the remote machine. Unfortunately, the database does not provide checksums of the zst

[2020-03-11 15:23] golaz commented on #62
When working remotely, the currently recommended approach is to transfer tar files using Globus and then use `zstash --hpss=none` option to extract needed files. We are relying on Globus to make sure the transfer succeeds and on zstash to verify the integrity of the extracted file.

I don't know if there is a way to compute hash of tar files without incurring a large increase in computational cost

[2020-03-18 14:10] xylar commented on #59
@forsyth2, @chengzhuzhang and @zshaheen, I just wanted to write a message saying that I tried doing a `zstash update --hpss=none` today on a run and it seems to be working really well!

I just wanted to make sure you hear my pleasure when the software works nicely and saves me a bunch of trouble.  I'm sure you hear a ton of complaints when it doesn't work and not enough praise when it works.

Keep

[2020-03-18 16:12] forsyth2 commented on #59
@xylar Thank you! Good to hear :)

[2020-03-30 22:04] forsyth2 opened #63 "Remove keep from config"
Remove `keep` from the `config`. Doing this will mean tar files won't be kept or removed based on using the `keep` option in an earlier command. (Although it doesn't seem like this is the current behavior anyway).

[2020-03-30 22:05] forsyth2 commented on #63
See #14 for a broader-scope version of this issue.

[2020-03-30 22:17] forsyth2 opened #64 "Ensure all optional arguments are tested on and off"
Some `zstash` optional  arguments are either always or never tested. It might be good to add some tests where the always-on options are off and vice-versa.

After #61 merges, these options will be as follows:
Always on:
- `chgrp`: `-R`
- `extract`: `hpss`
- `ls`: `hpss`
- `update`: `hpss`
Always off:
- `check`: `--keep`

[2020-04-02 19:50] TonyB9000 commented on #59
Adding a line regarding "--hpss=none" to the create --help would be nice :)  Only discovered it by reading through these comments.

[2020-04-02 20:12] forsyth2 opened #65 "Add no-hpss information to zstash -h"
`zstash create -h` gives information about options for this command. It should be specified here (and perhaps in other help pages) that `--hpss=none` should be used if you do not have HPSS available.

[2020-04-02 21:23] TonyB9000 commented on #64
I tested 0.4.1 extract with and without "--keep" today, and it worked as expected.  (Wish I'd noticed --keep early last month, when I'd inadvertently wiped out 3 TB of LLNL archive tarfiles - since recovered.)

I assume you are familiar with the Klingon programmers guide, to wit: "Always make the most dangerous or difficult to recover from options the default.  Safety should require extra steps."

[2020-04-03 17:34] TonyB9000 commented on #59
Thanks Ryan!

I was going to push hard for the zstash “I/O Flexibility” enhancements, but that is a lower priority for me now, thanks to Sterling educating me on the virtues of symlinks.  Still, I’d like to understand the zstash codes and the modifications required - I am an expert C coder but only a mediocre python coder.

Most recently, I was investigating the python “tar” module, and it appears

[2020-04-03 18:34] forsyth2 opened #66 "Improve Zstash extract warnings"
Print a short explanation on the screen if the match doesn't return any files.

[2020-04-03 22:43] forsyth2 opened #67 "Improve stopping of Zstash"
Ctrl-c does not always work to kill the Zstash process. Sometimes, users have to find the process id and use the `kill` command. It would be ideal if ctrl-c would behave as expected.

[2020-04-07 23:01] TonyB9000 opened #68 "zstash "ls" counterintuitively overloaded"
I issue `zstash ls archive/atm/hist/*cam.h0.1870*`, and these are found in the tar files.
I issue `zstash ls archive/atm/hist/*cam.h0.1871*`, and these are also found in the tar files.
I issue `zstash extract archive/atm/hist/*cam.h0.1870*`, and these are extracted locally to archive/atm/hist.

I issue `zstash ls archive/atm/hist/*cam.h0.1871*`, and these are NO LONGER found.  Why?
I issue `zstash

[2020-04-09 21:59] forsyth2 opened #69 "Add --extract-dir option"
Add `--extract-dir` option. See #43 for example of proposed usage.

[2020-04-09 21:59] forsyth2 commented on #43
#69 covers the `--extract-dir` option.

[2020-04-10 17:33] forsyth2 opened #70 "Update docs for --cache option"
After #57 merges, update the documentation to reflect the `--cache` option.

[2020-04-15 22:56] forsyth2 opened #71 "Documentation versions"
Find a way to have multiple versions of documentation online. Suppose version `n` is the latest release but `master` has more commits and the docs have been updated accordingly. Currently, users would see the latest docs online even though the docs describe features not included in the version they are using.

Possible solution would be to just have the `index.html` point to a bulleted list of doc

[2020-04-15 22:56] forsyth2 commented on #71
Equivalent to https://github.com/E3SM-Project/e3sm_diags/issues/299

[2020-04-23 02:24] TonyB9000 opened #72 "zstash ls --help incomplete"
Very minor (add to issue #65) but the usage for "zstash ls --help" says

- usage: zstash ls [<args>]

but should say

- usage: zstash ls [<args>] [files]

in line with the "zstash extract help"

(base) -bash-4.1$ zstash version
v0.4.1
(base) -bash-4.1$ zstash ls --help
usage: zstash ls [<args>]

List the files from an existing archive

positional arguments:     < - - - but in what position?
  file

[2020-05-01 17:01] forsyth2 commented on #70
Include comment warning users against running from `/global/homes` on Cori -- use `$CSCRATCH` instead.

[2020-05-01 22:12] #43 closed

[2020-05-05 16:43] forsyth2 commented on #70
For some reason merging #73 didn't close this.

[2020-05-05 16:43] #70 closed

[2020-05-08 16:47] TonyB9000 opened #74 "Duplicated file fullpathnames with different checksums"
I have seen duplicated tar files (full paths) once before, and assumed it was just a harmless listing issue, but this second time I have confirmed, using "zstash ls -l", that the duplications have different checksums.  This renders extraction (potentially) unpredictable.  Two archives exhibit this.

The archives in question are:
/p/user_pub/e3sm/archive/1_1_ECA/BGC/BCRC_CNPECACNT_20TR.ne30_oECv3.c

[2020-05-08 18:07] TonyB9000 commented on #74
The experiment was encouraging.  Only the "updated" version (latest mtime?) of a duplicated file is extracted, and if that tarfile is missing, an error is thrown.

My Test:

(base) -bash-4.1$ ./archive_holodeck_setup.sh /p/user_pub/e3sm/archive/1_1_ECA/BGC/BCRC_CNPECACNT_20TR.ne30_oECv3.cori-knl
Clearing the Holodeck

We will setup holodeck zstash for directory /p/user_pub/e3sm/archive/1_1_ECA/BGC

[2020-07-01 16:41] forsyth2 opened #76 "Set tests to run on CSCRATCH on Cori"
The following refers to running the Zstash tests on Cori:

We found that running the tests from `$HOME` may cause a `Resource temporarily unavailable" error. Running on `$CSCRATCH` fixes this issue; however this directory is purged is every 12 weeks. As such, a clone of the Zstash repo located there would get removed if not used after 12 weeks (or any files not used in the repo would be removed).

[2020-07-28 22:01] forsyth2 opened #78 "Update docs with options"
In the docs, not all available options for each `zstash` command are described. `--keep` needs to be added for `check` and `update`. `-v` needs to be added for `create`, `check`, `update`, `extract`, and `ls`.

[2020-07-31 17:56] beharrop opened #80 "Exception encountered when attempting to transfer files from HPSS"
I have tried on a couple different dtns on Cori with multiple BGC experiments to transfer files from HPSS back to cscratch, but I continually encounter the following error message.

INFO: Transferring file from HPSS: zstash/index.db
ERROR: Transferring file from HPSS: index.db
Traceback (most recent call last):
  File "/global/cfs/cdirs/e3sm/software/anaconda_envs/base/envs/e3sm_unified_1.3.1/bin/

[2020-08-04 18:12] chengzhuzhang commented on #80
Hi @beharrop,

I started a transfer on cori using a bash script:

[code]
It works fine so far. On a separate note: I’m hoping to create a central place for already published e3sm data under `/e3smpub`. So individual users don’t need to extract and keep duplicated version of data on the disk. Let me know if you have some large volume of data already extracted on your scratch space and I can move th

[2020-08-04 18:26] chengzhuzhang commented on #80
@beharrop Hi, I tried the same BGC archive and reproduced the problem. However, tried on another archive, it works fine. I was wondering if this is a archive specific issue...@forsyth2 any insights?

[2020-08-04 18:32] beharrop commented on #80
Hi @chengzhuzhang , I was about to say that I had tried doing a quick `zstash ls` with one of the water cycle archives and found it to be successful like your suggestion (I am not sure why, but your previous comment isn't showing up here for me).  I tested a few other repos that I have used zstash with and again found success.  It only seems to be the BGC archives (at least the handful that I've t

[2020-08-04 18:43] chengzhuzhang commented on #80
Got it! Try

`zstash ls --hpss=/home/s/shix/E3SM/20191204.BCRD_CNPCTC_SSP585_OIBGC.ne30_oECv3.compy/archive "*.cam.h3.*"`
it seems like the index.db is under `/archive` instead of stored at the top level.

I'm secretly planning the e3smpub thing. Having climo's will be a plus. Haven't thought of a good structure, I will let you know once there is a concrete plan :). Thank you in advance.

[2020-08-04 18:45] forsyth2 commented on #80
@chengzhuzhang I just tried that myself and it works for me.

[2020-08-04 19:13] beharrop commented on #80
Great!  That worked for me too.  Thanks for you help @chengzhuzhang , @forsyth2 .  I guess I needed to look more carefully at the HPSS directory structure.

[2020-08-10 21:39] forsyth2 opened #81 "Update installation directions"
`source /global/project/projectdirs/acme/software/anaconda_envs/load_latest_e3sm_unified.sh` on the "Getting Started" page should be changed to `source /global/cfs/cdirs/e3sm/software/anaconda_envs/load_latest_e3sm_unified.sh` for Cori and `source /share/apps/E3SM/conda_envs/load_latest_e3sm_unified.sh` for Compy.

[2020-08-20 18:31] forsyth2 opened #86 "Specify directory to update"
`zstash update` requires the user to be in the directory they'd like to update. It would be good to allow the user to pass in the directory to be updated.

[2020-08-20 18:55] forsyth2 opened #87 "Update help text for create, update, extract"
The `--help` text could be improved for `create`, `update`, and `extract`:

Recommendations from @TonyB9000 :

For `create`: `--hpss HPSS        path to HPSS storage` -> `--hpss HPSS        path to HPSS storage, or '--hpss=none' for local archiving.`

For the following 3 cases, “CACHE” is described as “path to store files”, but with --hpss=none, would a better description be “path to local destina

[2020-08-21 07:22] xylar opened #88 "Conda package of zstash 0.4.2 incorrectly includes python_abi"
[code]
As a result, `zstash` cannot be installed for any version of python other than 3.8.  E3SM-Unified supports only python 3.6 and 3.7 at the moment.

@chengzhuzhang has also had this problem building packages of `e3sm_diags`.  I do not know what is incorrectly configured in your `conda build` that means `python_abi` is included in the package dependencies.  This does not happen for me.  I will

[2020-08-21 07:29] xylar commented on #88
This issue https://github.com/conda/conda-build/issues/3956 suggests that the problem might be that you are using `conda-build` form defaults whereas you really need the version from conda-forge.  I would suggest setting channels to strict and doing a conda update on `conda` and `conda-build` to make sure you have the right version:
[code]
@chengzhuzhang, can you try this as well and see if it fix

[2020-08-21 07:34] xylar opened #89 "zstash needs a LICENSE!"
I'm pretty sure E3SM would want there to be some sort of LICENSE file.

[2020-08-21 07:38] xylar commented on #88
I built `zstash` on a Mac and it still doesn't have `python_abi` for me, so I don't think it's a platform issue.  I think it's an issue of `conda-build` coming from the wrong channel as stated above.  Please always use strict channel priority and make sure `conda-forge` is the highest priority channel.

[2020-08-21 07:53] xylar commented on #88
I am able to build `zstash` without `python_abi` on Linux as well.  Here is my base environment:
[code]
Note that almost every single package is from `conda-forge`.  @forsyth2 and @chengzhuzhang, could you let me know what your base environments look like?

[2020-08-24 18:37] forsyth2 commented on #88
@xylar thanks for the suggestions. I downloaded the bash installer and ran the following commands, with selected output:
[code]
Note that the `conda list` did include `python_abi`, but I think that's ok, right? The update step also completed successfully this time.
I then checked out a branch in the zstash repo to build the package.
[code]
I don't see `python_abi` in that output. In that case, sho

[2020-08-24 20:04] xylar commented on #88
Yep, that's expected.  `python_abi` is something to do with how `conda-forge` keeps track of different python flavors (CPython vs. PyPy) so it *should* be installed with every environment that includes python.  But it should not be part of the dependencies of any `noarch: python` package (including `zstash`).

What you have looks good.  But you already uploaded build 0 to the `e3sm` channel.  So y

[2020-08-24 20:33] forsyth2 commented on #88
@xylar Ok I merged #90, then ran:
[code]
https://anaconda.org/e3sm/zstash says that the last upload was a few seconds ago, so I believe this worked.

Let me know if this is sufficient. If so, I will update the "How to Prepare a Release" documentation accordingly. Thanks!

[2020-08-24 20:54] xylar commented on #88
Looks good to me!  I'm doing a trial build of e3sm-unified right now just to be sure.

[2020-08-24 21:21] xylar commented on #88
Yep, we're good.  I was able to include this in the `e3sm-unified` test build.

[2020-08-24 21:21] #88 closed

[2020-08-24 23:45] forsyth2 commented on #81
Merging #92 should have closed this.

[2020-08-24 23:45] #81 closed

[2020-09-15 23:27] forsyth2 commented on #78
#94 merged, so we can close this issue.

[2020-09-15 23:27] #78 closed

[2020-09-16 00:08] forsyth2 commented on #71
Since #95 merged, this can be closed.

[2020-09-16 00:08] #71 closed

[2020-09-29 20:54] forsyth2 opened #96 "Extract remaining files on second extract"
Currently, if `zstash extract` is used to only extract a subset of files, those files must be moved out of the directory before running again, or else a second `zstash extract` will not actually extract anything. The files not yet extracted should be extracted, however.

Example:
[code]

Add to test suite:
-`zstash extract --hpss=none ab*` -> `zstash extract --hpss=none a*`: remaining files should

[2020-09-30 01:00] golaz commented on #96
@forsyth2, I figured out what's happening: the shell is playing tricks with us.

For the second extraction, replace

`zstash extract --hpss=none a*`

with

`zstash extract --hpss=none "a*"`

 and you'll get the expected behavior.

Ideally, we'd like to turn off shell substitution for zstash extract. I don't know if it is possible.

[2020-09-30 04:50] golaz commented on #96
Here are some possibilities, but they may not be very practical:

https://stackoverflow.com/questions/11456403/stop-shell-wildcard-character-expansion

[2020-10-12 19:45] wenshanw commented on #80
Hi,

I encountered the same error trying to list files at several different folders. Adding "archive" does not resolve it.
From globus, I see the "index.db" is just under the main folder.
Any other things I can try?

Thank you very much!

Commands I tried
`$zstash ls -l --hpss=/home/t/tang30/2019/E3SM_simulations/cori-haswell.20190611.FC5N_ne120_UV_NoUS_1r1f.conusx4v1_conusx4v1/`
`zstash ls --hpss

[2020-10-12 20:04] chengzhuzhang commented on #80
@wenshanw Hi, would you try following:
[code]

It looks all the files are under run/ directory.

[2020-10-12 20:06] chengzhuzhang commented on #80
It appears `cori-haswell` has a `-` missing in the hpss location in your command line.

[2020-10-12 21:20] wenshanw commented on #80
Hi @chengzhuzhang, sorry, I reformatted it wrong.
In my terminal, I had the dash.
[code]
I still got the same ERROR msg.

I am a first-time `zstash` user. I followed the instruction here: https://e3sm-project.github.io/zstash/docs/html/getting_started.html#installation-on-nersc
to install it on cori.
I am on dtn01 and zstash version v0.4.2.

[2020-10-12 21:32] chengzhuzhang commented on #80
hmmm. I just tried on Cori **login** and use the zstash installed through `e3sm-unified` as follows:
[code]
I don't have experience with dtn01...Maybe someone else will be able to help out on this, @forsyth2 and @golaz ?

[2020-10-12 21:43] wenshanw commented on #80
weird...
I just login cori and exec these two lines of commands and got the same error msg...
[code]

[2020-10-12 21:55] wenshanw commented on #80
Could it be a permission issue?
But I can see the files through globus.

[2020-10-12 22:27] forsyth2 commented on #80
This is puzzling. The following two lines work for me:
[code]

I also logged into `hsi` and confirmed that `ls /home/t/tang30/2019/E3SM_simulations/cori-haswell.20190611.FC5N_ne120_UV_NoUS_1r1f.conusx4v1_conusx4v1` actually displays tar files. I can also `cd` into that directory.

@wenshanw It's failing for you on a step that I believe comes out as:`hsi -q "cd /home/t/tang30/2019/E3SM_simulations/

[2020-10-12 22:28] forsyth2 commented on #80
@wenshanw Have you ever logged into `hsi` before? That might be the problem.

https://e3sm-project.github.io/zstash/docs/html/usage.html "If you have not logged into HSI before, you will have to do so before running `zstash` with HPSS. On NERSC machines, just run `hsi` on the command line and enter your credentials."

[2020-10-12 22:32] forsyth2 opened #99 "Update zstash error reporting"
https://github.com/E3SM-Project/zstash/blob/master/zstash/utils.py#L42 just raises an exception without saying why the exception occurred. Update this and other exceptions as necessary to give more specifics.

[2020-10-12 22:33] forsyth2 commented on #80
I created #99 so that the next version of `zstash` will give more information than just `Exception`.

[2020-10-12 23:29] wenshanw commented on #80
Sorry, After I read through "getting started", I jumped to the examples and missed this note.
Problem solved!
Thank you very much!!!

[2020-10-12 23:30] forsyth2 commented on #80
@wenshanw Glad to hear that worked!

[2020-10-13 16:29] forsyth2 commented on #99
It might also be good to check if the command includes `hsi` and if so specifically tell the user to be sure they logged into HSI at some point.

[2020-10-15 00:18] wenshanw opened #100 "zstash reads stored index.db instead of retrieving the new one specified by --hpss"
Hi zstash team,

I tried to list files from two different HPSS locations.
It seems zstash uses the first index.db even though I specified a new location using --hpss.
The command I use is `zstash ls --hpss=[location 1/2]`.

How can I avoid this problem?
I found it a little bit dangerous for new users.

Thank you!

[2020-10-15 16:35] chengzhuzhang commented on #100
Hi @wenshanw, For two simulations, I usually create separate directories for index.db and to extract files from each simulations. You may want to try issue `zstash` commands at different directories.

[2020-10-15 16:49] forsyth2 opened #101 "Update Best Practices"
Change Compy/Anvil best practices (https://e3sm-project.github.io/zstash/docs/html/best_practices.html#compy-anvil) to check file integrity _after_ transferring files using Globus.

[2020-10-15 16:51] wenshanw commented on #100
Thank you @chengzhuzhang!
I will keep it in mind in the future.
It will be great if zstash could retrieve a new index.db once the hpss location is different or pop up some messages for the new users.

[2020-10-15 17:00] tangq commented on #100
@chengzhuzhang , will deleting the existing index.db file before extracting the one on HPSS cause any issue? If not, it seems a reasonable way to handle it.

Otherwise, an alternative is printing out a warning message indicating that the old index.db is used and if the user wants to extract the HPSS copy, one should change the directory or delete the .db file manually and rerun the command.

[2020-10-15 17:12] maltrud commented on #100
i totally agree with @tangq on this point.  i think it is a bad idea to delete the local version without warning--that would have hosed me more than once during v1.

[2020-10-15 17:24] chengzhuzhang commented on #100
Thank you @tangq and @maltrud. I agree that we need a proper warning in place when users try to overwrite with a new index.bd.

[2020-10-15 21:31] forsyth2 commented on #100
Hi @wenshanw thanks for reporting the issue. I want to make sure I'm interpreting your problem correctly. Do you (or @chengzhuzhang) have exact steps to reproduce the error?

I created an example directory `zstash_demo` and ran the following commands:
[code]
However, I'm not sure those are the steps you have in mind. If these are the steps you have in mind, you're saying we should make it such tha

[2020-10-15 22:18] wenshanw commented on #100
Hi @forsyth2, thank you very much for creating this example to reproduce my issue!
Yes, these are basically the commands I have in mind.

The problem for me is that I have no idea what files are included in the HPSS archives.
At my home directory, I `zstash ls` archive1 and archive2 but neither seemed to have the files I was looking for.
In fact, archive2 has my files. I didn't realize I `zstash`

[2020-10-15 22:27] forsyth2 commented on #100
@wenshanw Thanks, I've marked this issue to be addressed before the next release of zstash.

It looks like `zstash` is using the `index.db` in the already extracted directory. In fact, this issue appears to be a duplicate of #68 created by @TonyB9000.

In the meantime, you can always check the contents of an HPSS archive by logging into `hsi`, and running `ls <archive-name>`.

[2020-10-15 22:42] wenshanw commented on #100
Hi @forsyth2, I think my problem is a little different from #68. Since Tony did not specify `--hpss`, I would expect `zstash` to read the existing `index.db`. But when I use `--hpss`, I would expect `zstash` to retrieve a new `index.db`.
Maybe these are the two sides of a coin.

By using `ls <archive-name>` after logging into `hsi`, I can only see tar files, right? not as helpful as what I can see

[2020-10-15 22:47] forsyth2 commented on #100
@wenshanw Oh yes, you're right on both statements. I do imagine that #68 and this issue can be addressed by similar fixes, if not the same one.

[2020-10-15 22:55] TonyB9000 commented on #100
Side note:  The term “archive” is overloaded, in part due to me, perhaps.

There is the (hsi) HPSS “the archive”,
Upon extraction, there is a locally-created “zstash” directory, with tarfiles and index.db, also referred to as “the archive”
Lastly, files extracted (according to their tarfile-paths) are also sometimes referred to as “the archive”.

With both “create” and “extract”, with then without

[2020-10-15 22:59] forsyth2 commented on #100
Yes, we definitely use the term `archive` quite a lot. We tried to clear that up in the Terminology section of the tutorial (https://e3sm-project.github.io/zstash/docs/html/tutorial.html#terminology):

`zstash` archive: A set of files {`index.db`, `nnnnnn.tar` where nnnnnn=000000, 000001, …}
HPSS: A long-term tape storage system.
HPSS archive: The `zstash` archive on HPSS.
Local archive (or cache)

[2020-10-16 01:45] TonyB9000 commented on #100
Source directory: the directory whose contents we are archiving.

We should probably add

                Dest(ination) directory where contents are being extracted

Neither Source directory nor Dest directory should be referred to as (an,the) archive.

____tony____

From: forsyth2 <notifications@github.com>
Sent: Thursday, October 15, 2020 4:00 PM
To: E3SM-Project/zstash <zstash@noreply.github.co

[2020-10-16 17:15] golaz commented on #100
@wenshanw, thanks for reporting this. I did not think about the use-case of a user exploring the content of multiple zstash simulation archives to find files they are looking for. I was working under the assumption of a user wanting to find specific files within a given simulation.

Internally, zstash will only retrieve `index.db` from hsi if it is not already present in the local cache (zstash/ s

[2020-10-19 18:53] forsyth2 opened #103 "Add documentation version dropdown"
At some point, to improve upon #71, it would be nice to have a dropdown box for versions. It would also be good to automatically include a banner specifying if the version is not the latest. Example: https://docs.bokeh.org/en/latest/

[2020-10-19 19:04] forsyth2 opened #104 "Move documentation to master"
GitHub now allows documentation to be built from a branch other than `gh-pages`. If we build the docs off `master`, then developers will only need to submit one pull request for 1) new code, 2) unit tests, and 3) documentation, rather than submitting a separate documentation pull request to `gh-pages`. See https://docs.github.com/en/free-pro-team@latest/github/working-with-github-pages/configuring

[2020-10-20 20:01] forsyth2 commented on #103
https://docs.readthedocs.io/en/stable/versions.html

[2020-11-18 01:13] #99 closed

[2021-01-13 21:59] golaz commented on #21
Let's close this for now. We can open a new issue if we decide to proceed integrating Globus transfer into zstash.

[2021-01-13 21:59] #21 closed

[2021-01-13 22:00] golaz commented on #14
We can close this for now.

[2021-01-13 22:00] #14 closed

[2021-01-13 22:01] golaz commented on #5
It's not obvious to me that this is a feature we really need. Closing.

[2021-01-13 22:01] #5 closed

[2021-01-13 22:02] golaz commented on #13
The 'zstash check' functionality appears to be sufficient for now. Closing.

[2021-01-13 22:02] #13 closed

[2021-01-13 22:09] #80 closed

[2021-01-22 17:41] golaz commented on #100
Won't change the code for now, but add some note in the documentation.

[2021-01-22 18:24] #59 closed

[2021-01-22 19:16] forsyth2 commented on #51
Officially, `zstash` does not support macOS. However, it would still be nice to change the command to use `os.stat`

[2021-01-22 19:17] forsyth2 commented on #87
Other help-text updates are #72, #65.

[2021-01-27 22:12] sterlingbaldwin opened #111 "unable to extract or list user_nl_* files"
When I try and list out all the user_nl files I only see the user_nl_cam
[code]

But when I open the index.db manually and list out the namelist files I get the complete list
[code]

[2021-02-12 16:49] forsyth2 commented on #101
Merging #110 should have closed this.

[2021-02-12 16:49] #101 closed

[2021-02-17 23:39] golaz commented on #62
@lukaszlacinski: following up on your previous suggestion. I agree that it would be useful to have the md5 checksums of the tar files.

I looked into this some more to see if there was a clever way to compute them  without incurring the cost of reading the files again (which would be quite expensive for large zstash archives).

I now have a proof-of-concept on how to accomplish this (see attached

[2021-02-18 00:40] golaz commented on #38
I could not reproduce the behavior. On NERSC:

[code]
zstash correctly reports an error when it cannot find the file.

[2021-02-18 00:40] #38 closed

[2021-02-18 00:46] golaz commented on #52
@TonyB9000 : this looks like a potential bug. I was trying to reproduce the steps you outlined, but I don't have permission to read the files:

[code]
Can you change the permissions so I can try to reproduce and understand the issue? Thanks.

[2021-02-18 01:57] golaz commented on #68
@TonyB9000 : this is another perfect example of wildcards and the shell playing tricks on the user. (Note also that I updated the formatting of your original post to make it less confusing; Github was also playing tricks by replacing * with italics).

The short answer is: **if you use wildcards with zstash ls/extract, always enclose you expression in double quotes (")**.

Not doing so can lead to

[2021-02-18 01:57] #68 closed

[2021-02-18 02:06] golaz commented on #60
@zshaheen : thanks for the suggestion. However, I think implementing this option into zstash would take significant efforts and greatly complicate the code. The best options to deal with possible corruption remain:

1. Run `zstash check`
2. Optionally, duplicate the entire archive if redundancy is required.

[2021-02-18 02:06] #60 closed

[2021-02-18 18:10] golaz commented on #52
@TonyB9000:  I tried, but could not reproduce the problem.

[code]

I'm closing this issue. Please re-open a new one if the problem occurs again.

[2021-02-18 18:10] #52 closed

[2021-02-18 23:06] golaz commented on #67
The issue manifests itself for example when extracting files without using the parallel option and with tar files already in the cache (in parallel mode, CTRL-C seems to work fine). For example:

`zstash extract -v --keep --hpss=/home/t/tang30/2018/E3SM_simulations/repaired/20180129.DECKv1b_piControl.ne30_oEC.edison "*cam.h0.010*"`

CTRL-C appears to have no impact. The only option is to find the

[2021-02-19 05:35] golaz commented on #67
Closed via https://github.com/E3SM-Project/zstash/pull/114

[2021-02-19 05:35] #67 closed

[2021-02-19 05:39] golaz commented on #111
@sterlingbaldwin : when using zstash ls or extract with wildcards, please make sure to enclose your expression in double quotes:

`zstash ls --hpss=none "case_scripts/user_*"`

This will prevent the shell from performing a substitution before passing the arguments to zstash.

[2021-02-19 05:39] #111 closed

[2021-02-19 16:46] forsyth2 commented on #100
Closed by #113.

[2021-02-19 16:46] #100 closed

[2021-02-19 17:56] golaz commented on #96
This is another great example of shell wildcard substitution playing tricks on unsuspecting users.

Unfortunately, there is nothing we can do within zstash, because the shell substitution takes place **before** zstash is actually called.

The best option is to educate users. The documentation has been updated and now mentions this in a number of places:

https://e3sm-project.github.io/zstash/docs/

[2021-02-19 17:56] #96 closed

[2021-02-19 17:58] golaz commented on #111
See also https://github.com/E3SM-Project/zstash/issues/96

[2021-02-19 18:10] chengzhuzhang commented on #89
Still waiting for release number from IM Office. With that, we should have everything needed to put together a license file for a new zstash release.

[2021-02-19 18:20] golaz commented on #74
@TonyB9000, by design, zstash is a write-only archive with no option for deletion. This is because files are stored in tar files, and deleting a file would require recreating the tar file. Properly handling this would greatly complicate zstash.

However, the case you mentioned before was considered when zstash was created. If a file is updated after zstash create, zstash update will archive the ne

[2021-02-19 19:25] TonyB9000 commented on #74
@golaz, I understand why the archive itself cannot be modified (except appended to), given their size.  Also, I'm glad to learn that only the "last archived" is extracted (by zstash), and not the file with the "last mtime", for instance.

But if "zstash extract" will only _extract_ the last file archived, then "zstash ls -l" should only _list_ the last file archived.

I note that zstash ls -l give

[2021-02-19 21:51] golaz commented on #104
There is definitely an advantage to having the documentation source files on master, rather that `gh-pages`. However, I'm concerned about having the html build files on master as well. I think this will greatly "pollute" any PR that also includes documentation changes.

I'm wondering if we could have the best of both worlds with a hybrid approach: documentation source code on master, documentation

[2021-02-19 21:54] golaz commented on #103
From https://github.com/E3SM-Project/zstash/issues/104; I should have posted the second part here:

Also, I have been looking into how to maintain documentation for multiple version with sphinx. It seems that it might require using an extension. Some options:

- https://sphinxcontrib-versioning.readthedocs.io/en/latest/index.html
- https://holzhaus.github.io/sphinx-multiversion/master/index.html

[2021-02-19 22:00] forsyth2 commented on #104
From @tomvothecoder: if we stick with GitHub Pages, we will use GitHub Actions to build the docs on `gh-pages` after all of the tests pass. It will only push the built docs to the `gh-pages` branch.

[2021-02-19 22:00] golaz commented on #74
@TonyB9000 : zstash will extract the latest one, not just clobber over.

Closed via https://github.com/E3SM-Project/zstash/pull/115.

[2021-02-19 22:00] #74 closed

[2021-02-22 19:43] sterlingbaldwin commented on #111
Thanks @golaz, I had no idea why it was failing, but wrapping the zstash glob in quotes so the OS doesnt try and interpret them makes sense.

[2021-02-25 00:06] forsyth2 opened #116 "Disallow --keep when --hpss=none"
#112 adds the explanation that `--keep` has no effect when `--hpss=none`, but users may encounter less confusion if `zstash` simply fails if both are specified.

This could be seen as requiring a MAJOR version increment since any script containing `zstash --hpss=none --keep` would then fail (i.e., non-backwards compatible change introduced).

[2021-02-26 18:31] #65 closed

[2021-02-26 18:31] #72 closed

[2021-02-26 18:31] #87 closed

[2021-02-26 19:14] forsyth2 opened #117 "Integrate GitHub Actions CI/CD workflow"
Add CI/CD to `zstash`, similar to what was done in https://github.com/E3SM-Project/e3sm_diags/pull/385

[2021-02-26 19:15] forsyth2 commented on #117
@tomvothecoder Tests are currently run with:
[code]
On Cori all tests will run because there is HPSS access. On Compy, only the `--hpss=none` tests will run.

[2021-03-01 20:36] chengzhuzhang opened #121 "Ability to initiate Globus transfer to remote HPSS archive"
A new feature discussed by @golaz at zstash developer meeting. I found this `data_stager` script (https://github.com/lukaszlacinski/e3sm_to_cmip/blob/3a761a35313fa5af70804e0e326ca5d112caf1b8/scripts/README.md) @lukaszlacinski developed for `e3sm_to_cmip`. To achieve initiating Globus transfer of zstash archive to a remote HPSS archive seems can be accommodated by modifying `data_stager`?

[2021-03-12 20:58] lukaszlacinski commented on #121
data_stager.py calls the zstash Python module to retrieve zstash archives from an HPSS and extract files from the archives. Then, data_stager.py uses Globus to transfer the extracted files to a remote Globus endpoint. We can add an inverse functionality. data_stager.py will transfer files from a remote Globus endpoint and call zstash to create archives and save them on an HPPS.

[2021-03-15 18:37] golaz commented on #121
@chengzhuzhang and @lukaszlacinski : thanks for starting the conversation.

I think data_stager has a lot of pieces that could be reused to enhance the functionality of zstash.

As a first step, we should focus on allowing users to store output files (during `zstash create` and `zstash update`) to a remote Globus HPSS (actually any Globus endpoint). We can later tackle the reverse problem of extra

[2021-03-17 23:26] #117 closed

[2021-03-17 23:26] #103 closed

[2021-03-17 23:26] #104 closed

[2021-03-18 16:56] forsyth2 opened #124 "Update docs to explain dev environment"
Update https://e3sm-project.github.io/zstash/_build/html/master/getting_started.html#installation-using-conda to use `conda/dev.yml` (added in #122).

[2021-03-24 21:15] forsyth2 opened #125 "Update remote names in docs"
Currently, some documentation uses `origin` to refer to the main repo while other documentation uses it to refer to one's fork of the main repo. We can clean this up by using the generic terms `<upstream-origin>` and `<fork-origin>`.

[2021-03-25 19:54] #124 closed

[2021-03-25 21:31] forsyth2 opened #127 "Update release steps"
Update release steps, similar to https://github.com/E3SM-Project/e3sm_diags/pull/420.

[2021-03-26 16:43] #125 closed

[2021-03-26 17:38] tomvothecoder opened #129 "Add code formatter and linter to enforce standards"
Add QA tools to enforce code quality standards in the repository using `pre-commit`.

[2021-03-26 18:15] chengzhuzhang commented on #121
Hi @golaz, to allow user to store output files to a remote Globus Endpoint seems a good first step to tackle. I understand like data_stager.py, the new function will relpy on Globus SDK and FAIR Native Login as additional dependency. @lukaszlacinski would you please help with implementing this feature?

[2021-03-26 19:04] lukaszlacinski commented on #121
@chengzhuzhang I'm already working on it.

[2021-03-26 19:17] chengzhuzhang commented on #121
Awesome. Thank you @lukaszlacinski

[2021-03-31 17:09] tomvothecoder opened #131 "Add release workflow for publishing docs and Anaconda package"
Similar to https://github.com/E3SM-Project/e3sm_diags/blob/master/.github/workflows/release_workflow.yml

[2021-03-31 17:52] forsyth2 commented on #131
When you add this change, be sure to also update the docs. The corresponding pull request should "resolve/close" both this issue and #127.

[2021-03-31 18:31] tomvothecoder opened #133 "Address flake8 and mypy FIXME comments"
This issue is related to PR #130

[2021-04-01 16:49] #129 closed

[2021-04-01 16:53] tomvothecoder opened #134 "Refactor `con` and `cur` variables from global to function arg"
The `con` and `cur` variables are only used in one function for each file that it exists in (`create.py`, `extract.py`, `ls.py`, and `update.py`), but is declared as a `global`.

[code]

I also noticed some repeated logic involving database work. It might be better to declare the `con` and `cur` variables in `main.py` and pass them into each of the functions as an argument, rather than instantiati

[2021-04-01 20:40] #127 closed

[2021-04-01 20:40] #131 closed

[2021-04-06 22:49] forsyth2 opened #137 "Improve code readability"
Improve code readability

- [ ] Add more type annotations for both variables and functions
- [ ] Use more descriptive variable names
- [ ] Address cyclomatic complexity `FIXME` comments from #133.

[2021-04-08 00:55] forsyth2 commented on #134
I imagine at least some of this will be addressed as part of #138

[2021-04-19 17:01] forsyth2 opened #139 "Reduce `extractFiles` complexity"
After #138 merges, `extractFiles` still needs to have its cyclomatic complexity reduced.

[2021-04-19 19:27] #133 closed

[2021-04-19 19:27] #134 closed

[2021-04-19 19:27] #137 closed

[2021-04-22 15:35] forsyth2 opened #141 "Tar checksum on `extract`"
After #140 merges, we'll have the checksum for the entire tar (not just the files in it). However, it still won't check for checksum mismatches. One possibility is to do that check as part of `extract` if a user is extracting all files in a tar. (If they're not extracting all files, then we can't compute the checksum of the entire tar).

[2021-04-22 15:37] forsyth2 commented on #141
Code block, originally from #140:

[code]
Note that this goes before:
[code]

[2021-04-23 18:19] chengzhuzhang commented on #121
Hey  @lukaszlacinski  we are planning a new zstash release around end of May. It would be nice to have this feature in for the new release. Do you have some updates on this effort? Thank you!

[2021-04-30 17:08] forsyth2 opened #142 "Finalize docs for v1.1.0"
Before releasing v1.1.0 we should make sure the docs look good.

E.g.:
- Add information on what's new in v1.1.0.
- The tutorial (https://e3sm-project.github.io/zstash/_build/html/master/tutorial.html) should probably mention what `zstash` version it was run with. (We should also delete line with "INFO: You're using the version at").

[2021-04-30 17:14] #62 closed

[2021-05-13 21:58] chengzhuzhang commented on #121
Hey @lukaszlacinski, i'm just checking back if we have any updates on this. We will have a new zstash release soon. Thanks!

[2021-05-25 18:56] #142 closed

[2021-05-28 16:28] tomvothecoder opened #145 "Add conda channel label assignment in GH Actions release workflow"
Currently, all conda builds are uploaded only to `main`.

We need conditionals to upload `rc` packages to `e3sm-dev` by parsing the conda build `.tar.bz2` name.

Requirements
- [ ] Production builds go to `e3sm/main`
- [ ] RC builds go to `e3sm/e3sm_dev`

[2021-05-28 16:37] tomvothecoder opened #146 "Add tbump to simplify package versioning process"
tbump is a Python package that automatically bumps the version of the software in the applicable files by running a simple command (e.g., `tbump 1.2.0`)

[2021-05-28 20:26] #145 closed

[2021-05-28 21:47] tomvothecoder opened #149 "Update meta.yaml source from tarball to git"
This issue with using the source from tarball is that the `SHA` gets generated AFTER a release. That means the release contains the old SHA, which is referenced in the CI/CD release workflow and throws a SHA mismatch error.

The fix is to use the source from git.
https://docs.conda.io/projects/conda-build/en/latest/resources/define-metadata.html#source-from-git

Requirements
- [x] Update `meta.yam

[2021-05-28 21:58] forsyth2 opened #151 "Update release steps in docs"
https://e3sm-project.github.io/zstash/_build/html/master/dev_guide/release.html should be updated to reflect changes in the release process (e.g., from #147).

[2021-05-28 22:28] #149 closed

[2021-06-11 20:40] #89 closed

[2021-06-18 16:45] lukaszlacinski commented on #121
https://github.com/E3SM-Project/zstash/pull/154

[2021-06-30 23:12] forsyth2 opened #155 "Make unit tests independent"
Currently, if one unit test fails, it may cause others to fail because a failing test might not return to the correct directory. We'd probably need to edit `tests/base.py`'s `tearDown` method to correct this.

[2021-07-01 15:48] forsyth2 opened #156 "Mention where `hsi` is available."
Include in the docs that `hsi` is only available on Cori login nodes -- not the (Haswell) compute nodes.

[2021-07-05 19:49] xylar opened #159 "The python package includes the `tests` directory"
The line:
https://github.com/E3SM-Project/zstash/blob/e2b1ab3166e468e7a0813c84a56032e7becbb6ec/setup.py#L9
seems designed to exclude tests but it doesn't actually have the `tests` directory in its excludes.  As a result, it ends up in the conda package and it conflicts with other packages that make the same mistake (e.g. `zppy`).

Instead, it would be much cleaner and safer to do:
[code]

[2021-07-06 16:19] forsyth2 commented on #159
@xylar This fix causes the following error in the build https://github.com/E3SM-Project/zstash/pull/157/checks?check_run_id=3000885820: `ModuleNotFoundError: No module named 'tests'`

[2021-07-06 16:25] xylar commented on #159
@forsyth2, I'm not familiar with how your testing works but if it relies on `tests` being a part of the python package you're creating, that isn't a good thing.  Your `zstash` (and `zppy` and `e3sm_diags`) package is actually adding a `tests` python package to the conda environment, which it shouldn't be doing.  Either you need to move the `tests` package to be within the `zstash` package or you n

[2021-07-06 16:38] tomvothecoder commented on #159
@forsyth2 @xylar Pushed a change to the `fixes-for-rc2` branch to fix the build workflow not finding the `tests` module for local imports specific to `tests` directory.

Before:
https://github.com/E3SM-Project/zstash/blob/e2b1ab3166e468e7a0813c84a56032e7becbb6ec/.github/workflows/build_workflow.yml#L48-L51

After:
[code]

[2021-07-06 16:46] forsyth2 commented on #159
I made the same fix for `zppy` and the build passed (https://github.com/E3SM-Project/zppy/issues/94, https://github.com/E3SM-Project/zppy/pull/81). I notice `zppy` doesn't include any `import tests` or `from tests` lines but `zstash` does.

@tomvothecoder Thanks, I'll take a look at the file paths.

[2021-07-06 17:06] forsyth2 commented on #159
@tomvothecoder Ok looks like that fixes it, thanks! https://github.com/E3SM-Project/zstash/pull/157/checks?check_run_id=3001257643

[2021-07-06 17:09] xylar commented on #159
Thanks @forsyth2 and @tomvothecoder for fixing this (and the other similar issues) so quickly!

[2021-07-08 15:40] #151 closed

[2021-07-08 15:40] #155 closed

[2021-07-08 15:40] #156 closed

[2021-07-08 15:40] #159 closed

[2021-08-03 18:03] #146 closed

[2021-09-30 16:55] tangq opened #164 "specify the starting tar file for checking or parallel checking"
Is it possible to specify which tar file to start the checking? Or checking multiple tar files simultaneously.

For large production runs the tar file size is huge (almost 150 TB for the 1000-year spin-up E3SMv2 NARRM run). Checking the tar files one by one can take a really long time. NERSC just had a disruption on hsi and failed my checking job. I had to recheck the files. In this case, it would

[2021-10-01 23:17] tangq opened #165 "first check if all files exist"
I recently had a failing zstash check case because 1 of the files is missing on HPSS.

Can I suggest checking if all files exist in the archive as the first step of `zstash check`? This can save a lot of time if some files are missing but it may take a while to retrieve the files from HPSS before those missing files.

[2021-10-04 05:38] tangq commented on #164
It looks like that checking multiple files is done by the option `--workers=<num of processes>`.

[2021-10-04 06:08] tangq commented on #164
I wrote a little bash script to check the tar files one by one. The tarlist.txt contains all the tar file names (1 file name per line). Specifying the checking file names allows me to resume the checking job from the tar file where the previous job failed.

NERSC HPSS seems not stable in the past week. My zstash check job (without specifying the file name) failed multiple times. This method will b

[2021-10-04 19:05] golaz commented on #164
@tangq: you found a very nice and easy workaround for the time being.

That being said, I think it would be very useful to have the capability of checking a subset of the tar files.

Here is a possible command line usage (similar syntax to specifying pages to print). Comma delimited list, each entry being either a single tar file or a range:

[code]

[2021-10-12 22:23] forsyth2 opened #166 "Update Unified paths"
Update Unified paths on https://e3sm-project.github.io/zstash/_build/html/master/getting_started.html

[2021-10-12 23:43] tangq commented on #165
I thought the .db file will have the list of tar files. Is it? Otherwise, how does the check job know what tar files to retrieve from HPSS?

If not, it wouldn't be so helpful if it only works with `--keep` or `--hpss=none`.

[2021-10-13 22:47] forsyth2 commented on #165
If I run `zstash create` on a directory, add some more files, and run `zstash update`, then there will be two tars in the HPSS archive. If I delete one tar in the HPSS archive and run `zstash ls --hpss=<hpss-archive> --tars`, then both tars will still be listed. `zstash ls` works by reading the database file, not the actual HPSS archive's contents.

To compare the database's contents with the HPSS

[2021-10-15 21:02] golaz commented on #164
To parse the command line argument and build a list of files

- Start with empty list of tar files
- Split command line string argument  by comma into substrings
- Loop over substrings
  - Test if there is a hyphen
     - No: add tar file number to list
     - Yes: extract beginning and end range (use first or last tar file if one range is missing). Add sequence to the list.

[2021-10-15 21:15] golaz commented on #165
@forsyth2 : for an example on how to execute an hsi command from python, take a look at

https://github.com/E3SM-Project/zstash/blob/6b7d30ea3cc61cd1e52460838e3d6ec226cb965a/zstash/hpss.py#L73-L76

However, it looks like we will need to generalize `run_command` to optionally return stdout, not just stderr.

https://github.com/E3SM-Project/zstash/blob/6b7d30ea3cc61cd1e52460838e3d6ec226cb965a/zstash

[2021-10-27 20:33] forsyth2 opened #167 "zstash check reports success even if exceptions occur"
`zstash check` reports success even if exceptions occur.

Exceptions like the following may occur, but `zstash check` still ends with `INFO: No failures detected when checking the files.`:
[code]

Possible solutions:
- Fail on first `Exception`
- Create list of all `Exceptions` before failing

[2021-11-22 20:01] forsyth2 commented on #166
Resolved by #169

[2021-11-22 20:01] #166 closed

[2021-12-03 01:30] forsyth2 commented on #164
@golaz @tangq Implementation is ready for review -- #170.

[2021-12-11 00:58] #164 closed

[2021-12-13 16:45] lukaszlacinski opened #171 "Improve Globus transfer concurrency"
With --non-blocking option, zstash submits a Globus transfer and immediately creates a subsequent tarball. Zstash does not wait until the transfer completes to start creating a subsequent tarball. On machines where zstash tarballs are created faster than they are transferred to a remote endpoint, zstash will create multiple Globus transfers that are put in a queue by the Globus service. Zstash sho

[2021-12-13 16:53] lukaszlacinski opened #172 "Check Globus tokens and endpoints before creating tarballs"
Currently, zstash creates a tarball first, and then tries to transfer it to a Globus endpoint, if --hpss option is set to a Globus URL. It usually takes several minutes to create a default-size tarball, and then zstash exits if Globus endpoints are not activated. Zstash should check if --hpss points to a Globus URL and tries to get a Globus token and verify if Globus endpoints are activated before

[2021-12-13 18:19] golaz commented on #172
This would be nice to have at some point, but we can live with what we have for now.

For new users, we should tell them to first do a small test transfer for the initial configuration to take place. For subsequent transfers, they should make sure to activate nodes first before starting zstash.

@forsyth2 : are you planning to update the documentation?

[2021-12-13 18:26] golaz opened #173 "Globus transfer for zstash extract"
Given the success of https://github.com/E3SM-Project/zstash/pull/154, it would be great to have the option of using Globus for **extracting** files.

The idea is that a user could be on Chrysalis and retrieve files from a zstash archive on NERSC HPSS. This would greatly reduce the number of steps required. (Currently a user must manually transfer zstash files, or extract on NERSC and then manually

[2021-12-13 18:52] forsyth2 commented on #172
@golaz Do you mean for this issue? @lukaszlacinski included documentation updates in #154. If you want to include your suggestion for new users now, it would probably be best to include that in #154 too.

[2021-12-13 18:58] golaz commented on #172
I added a comment in https://github.com/E3SM-Project/zstash/pull/154/files#diff-66e28562c85a1bb96f431f2dd52bbabab914359e4b06f58eb1e18eadc01f5c06

[2021-12-13 19:08] tangq opened #174 "check errors disappear at the second try"
I encountered the errors below for a few files when specifying the tar file names.

When I retried it, they were checked successfully. What these errors mean? Why they disappear when trying again? Thanks.

[code]

[2021-12-13 19:17] forsyth2 commented on #174
@tangq I'm not sure why they disappeared on a second try. The `Exception` notes that you might not have been logged into `hsi` the first time, but that's certainly not the only possible reason that that tar failed to transfer.

[2021-12-13 19:25] tangq commented on #174
I had another check job without specifying the tar file names failed with similar errors. So, the more flexible input file names options you implemented are really helpful when checking the large simulations.

My question is with the successful second check, is it safe to say that these tar files are correctly archived?

[2021-12-13 19:34] forsyth2 commented on #174
Great, glad to hear #170 is working well.

If you have a log file from the check, you can run `grep -i Exception <log_file>` to double check for any errors.

[2021-12-13 19:42] tangq commented on #174
The log file for the second try (only checking the 3 failed files) is at cori:/global/cscratch1/sd/tang30/E3SMv2/v2.NARRM.piControl/check2/out. Nothing returns from `grep -i Exception`.

The log file for the first try is: /global/cscratch1/sd/tang30/E3SMv2/v2.NARRM.piControl/zstash_check_20211209.log. It is still ongoing and returns the 3 files when grepping exception.

Good to know the "exception

[2021-12-13 19:46] forsyth2 commented on #174
Great, I'm planning to include a note about that with #168.

[2021-12-13 23:25] #167 closed

[2021-12-13 23:29] forsyth2 opened #175 "Debug false success in parallel check/extract"
Initially recorded in #167 with partial fix in #168.

`zstash check` was reporting success even if exceptions occurred. This is related to the multiprocessing. Code blocks to investigate would include the following (all in https://github.com/E3SM-Project/zstash/blob/master/zstash/extract.py):

In `multiprocess_extract`:
[code]

In `extractFiles`:
[code]
[code]

[2021-12-15 03:47] golaz commented on #173
@lukaszlacinski : I did not realize that you had already implemented all these features. This is wonderful!

I ran a few tests today from Chrysalis accessing a zstash archive on NERSC HPSS. Everything worked as expected.

Below is some of the functionality I tested (ls, extract, check; single and multiple workers):

[code]

Thanks for implementing the Globus functionality. It will make life much s

[2021-12-15 03:47] #173 closed

[2021-12-15 18:51] golaz commented on #174
I have also seen errors like this before. If the error is not reproducible, it is very likely that it was caused by some intermittent hsi issue or unavailability.

Also, I have found that hsi errors are more likely when retrieving to CSCRATCH. I now use cfs to run zstash check and it seems more reliable.

[2021-12-15 18:55] forsyth2 commented on #173
@lukaszlacinski @golaz This is great! However, I'd like to note that we should update `tests/test_globus.py` in #154 to include `check` and/or `extract`. (We could update the tests in a later pull request though if we want to get the `create` functionality merged right away).

[2021-12-15 18:55] golaz commented on #165
With the availability of Globus transfers directly within zstash as well the new feature to specify specific tar files to check, I think this is no longer needed.

This is an edge case that is not likely to happen very often. Changing the code for this might be over doing it.

[2021-12-15 18:59] golaz commented on #63
This would also be the occasion to revisit what is in config, and whether it really needs to be there.

[2021-12-15 19:41] #165 closed

[2022-01-10 23:02] forsyth2 opened #176 "Fix `chgrp` test failure"
`testChgrpHPSS` fails with `AssertionError: Command=`hsi ls -l zstash_test`. Errors=['This was supposed to be found, but was not: 3.', 'This was supposed to be found, but was not: m.']`. This occurs as far as back as v1.0.0 -- I'm unsure why this is happening, since the unit tests have been run multiple time since then.

In `tests/test_chgrp.py`, `expected_present` is a string, but should be a lis

[2022-01-11 02:13] #121 closed

[2022-01-11 02:21] forsyth2 opened #178 "test_globus fails on CI/CD only"
`test_globus` fails on CI/CD only.

From #154:

tests/test_globus.py requires:

- a Globus endpoint on a local machine,
- ~/.zstash.ini with an UUID of the local Globus endpoint set,
- Globus access tokens

to succeed. It can be run as a part of the CI/CD build workflow but it would some extra setup on a CI/CD machine. The test can be run easily on any E3SM machine.

[2022-01-12 01:41] #63 closed

[2022-01-12 01:54] forsyth2 commented on #176
Partially fixed by #179.

[2022-01-12 01:54] forsyth2 commented on #178
Partially fixed by #179.

[2022-01-13 21:59] forsyth2 opened #180 "Update usage docs for Check"
Clarify how `check` works when `--hpss=none` on https://e3sm-project.github.io/zstash/_build/html/master/usage.html#check

[2022-01-14 19:48] #180 closed

[2022-01-20 00:39] forsyth2 opened #190 "Update Cori paths in docs"
Update Cori paths in docs to match paths in related `zppy` pull request (https://github.com/E3SM-Project/zppy/pull/174) and docs (https://e3sm-project.github.io/zppy/_build/html/main/getting_started.html)

[2022-01-20 21:29] forsyth2 commented on #173
@golaz Do we want to advertise/officially support the Globus extract capability with v1.3.0? #154 doesn't include information on `extract` in `docs/source/usage.rst` nor is `extract` tested in `tests/test_globus.py`.

[2022-01-20 21:34] forsyth2 opened #192 "Update docs and testing for Globus extract support"
#173 was resolved through #154. However #154 doesn't include information on Globus-extract in `docs/source/usage.rst` nor is it tested in `tests/test_globus.py`. These should be resolved before officially supporting Globus on `extract`.

[2022-01-20 21:36] forsyth2 commented on #173
I created #192 to address these points.

[2022-01-26 18:27] forsyth2 opened #193 "Add timestamps to output lines"
It could be useful to know how long different steps take.

[2022-02-01 20:23] #190 closed

[2022-02-03 16:03] forsyth2 commented on #192
#191 addresses the documentation component of this issue.

[2022-02-09 19:11] xylar opened #196 "support newer globus-sdk"
The constraint on globus-sdk:
https://github.com/E3SM-Project/zstash/blob/master/conda/meta.yaml#L25
has the side effect of preventing `zstash` and therefore E3SM-Unified from being installed with python 3.10.  Could you see if this constraint is necessary and, if so, what development would be required for zstash to work with the latest globus?

[2022-02-09 19:22] xylar commented on #196
Assuming this isn't an easy fix, let's just plan on skipping python 3.10 support in E3SM-Unified for this round and hope to include it in the next version (1.7.0).  I should have anticipated these problems but decided to switch away from python 3.7 and to 3.10 relatively recently.

[2022-02-09 19:56] forsyth2 commented on #196
@xylar The `- globus-sdk >=2,<3` change was added in #188 (after `v1.2.0rc2`, before `v1.2.0rc3`).

`v1.2.0rc2` failed to build (see https://github.com/E3SM-Project/zstash/runs/4858035601?check_suite_focus=true => `ImportError: cannot import name 'TransferAPIError' from 'globus_sdk.exc'`). @tomvothecoder determined the issue:

#154 (https://github.com/E3SM-Project/zstash/blob/master/zstash/globus.

[2022-02-09 20:00] xylar commented on #196
Okay, thanks for the background.  I think this should get worked out in the next 4 months so you can support the latest `globus_sdk` but I agree that it was the right decision not to try to do that between release candidates.

[2022-02-14 21:17] forsyth2 commented on #66
[code]

[2022-02-14 22:58] forsyth2 commented on #66
With changes:
[code]

[2022-02-15 00:30] #66 closed

[2022-02-23 18:26] golaz opened #198 "Option to retry after hsi get failure"
Retrieval of tar files from HPSS on NERSC has been less reliable lately. `hsi get` occasionally fails for unknown reasons, but retrying works. We should consider adding an option to retry after a failed hsi operation.

[2022-02-23 18:29] golaz opened #199 "Add --include option"
In some cases, it would be useful to have an `--include` option in addition to the existing `--exclude` option. If both options are specified at the same time, start with all files in `--include` and remove files as specified in `--exclude`.

[2022-03-04 21:08] forsyth2 commented on #196
Note: this *may* not require significant work. First, update all the API references and then run the tests. If nothing breaks, then the API reference updates were probably the only requirement.

[2022-03-04 21:14] forsyth2 opened #200 "Explore Globus functionality with HTTP"
See if our Globus `extract` feature can handle (or be made to handle) extracting data from a website rather than a directory on another machine.

[2022-03-16 16:56] golaz commented on #200
According to the Globus FAQ, Globus does not support transfer over http:

https://docs.globus.org/faq/transfer-sharing/#whats_the_difference_between_globus_and_gridftp

@lukaszlacinski: can you confirm?

If that is the case, we should consider adding another backend method to zstash to enable other protocols, such as http, ftp. We could do read-only initially. Maybe Python urllib or requests. See

[2022-03-16 17:33] xylar commented on #200
I definitely prefer `requests`.

[2022-03-16 17:35] xylar commented on #200
Here's some example usage in your `compass` package:
https://github.com/MPAS-Dev/compass/blob/e8f02e72d56da31957fae2ec5cdb2643d7a53bc5/compass/io.py#L8

[2022-04-01 23:18] #196 closed

[2022-04-01 23:23] forsyth2 opened #206 "Fix publish-docs"
Fix `publish-docs` in the workflow. `ImportError: cannot import name 'environmentfilter' from 'jinja2' (/opt/hostedtoolcache/Python/3.7.12/x64/lib/python3.7/site-packages/jinja2/__init__.py)` appears in https://github.com/E3SM-Project/zstash/runs/5795869500?check_suite_focus=true. This issue was introduced with the merging of #205.

[2022-04-01 23:26] forsyth2 commented on #206
@tomvothecoder I don't know why this didn't happen with https://github.com/E3SM-Project/e3sm_diags/pull/576 and https://github.com/E3SM-Project/e3sm_diags/actions. Because in #205 `zstash` was upgraded from an older version than E3SM Diags was at?

[2022-04-04 15:21] tomvothecoder commented on #206
I think you are right. `zstash` was using `black=20.8b1` in `pre-commit`, so it probably didn't contain the same bug as `black=22.1.0`.

For this specific issue, `jinja2` needs to be pinned < 3.1.
Related issues
- https://github.com/readthedocs/readthedocs.org/issues/9038
- https://github.com/sphinx-doc/sphinx/issues/10291#issuecomment-1078046986

Pin locations:
- https://github.com/E3SM-Project/z

[2022-04-04 17:58] forsyth2 commented on #206
@tomvothecoder Looks like the fixes in #207 didn't work: https://github.com/E3SM-Project/zstash/runs/5821359209?check_suite_focus=true fails with:
[code]

[2022-04-05 20:56] tomvothecoder commented on #206
@forsyth2 To denote version ranges with `pip`, you have to put the package in quotations.

https://stackoverflow.com/questions/8795617/how-to-pip-install-a-package-with-min-and-max-version-range

In this case, it would be `pip install sphinx==3.5.1 sphinx_rtd_theme==0.5.1 sphinx-multiversion==0.2.4 docutils==0.16 "jinja2<3.1"`.

[2022-04-05 23:46] #206 closed

[2022-04-05 23:49] forsyth2 commented on #206
@tomvothecoder Thanks, that fixed it!

[2022-05-07 01:34] tangq opened #209 "Add HPSS location in log file"
I encountered this issue a few times that I couldn't remember the HPSS location of the simulation. It would be good to record the HPSS location at the beginning of the zstash log when creating the archive.

[2022-05-09 18:17] tangq commented on #209
Good to know the `-v` option, @golaz . I will add it to my command.

[2022-05-11 02:22] forsyth2 commented on #209
@tangq We could change the logger level for the HPSS path to be `INFO` rather than `DEBUG`. Then it would print in all cases. However, I would first suggest you try out the `-v` option to see if it prints "too much info" for your needs. Thanks!

[2022-05-11 02:40] forsyth2 opened #210 "Expand upon "why not use 'htar'" section"
Expand upon the "why not use 'htar'" section (https://e3sm-project.github.io/zstash/_build/html/master/design.html). Additional reasons:

- `zstash` performs checksums
- `zstash` works even without HPSS
- `zstash` has option to transfer with Globus

[2022-05-11 03:59] tangq commented on #209
@forsyth2 , thanks for the suggestion. I will give it a try.

[2022-05-20 15:11] tangq commented on #209
@forsyth2 . The `-v` option only adds about 10 lines in the log file. Not too much at all. I think we will be fine just use the `-v` option as is.

[2022-05-20 15:11] #209 closed

[2022-05-20 17:18] forsyth2 commented on #209
@tangq Awesome, thanks for letting us know!

[2022-06-21 22:42] forsyth2 opened #212 "Handle incomplete tar files"
Handle incomplete tar files. #198 refers to simply retrying after a `hsi get` failure. This issue is for handling an incomplete `tar` file, which may result from a `hsi get` failure.

[2022-06-21 22:43] forsyth2 commented on #212
@golaz FYI ^

Feel free to add any further comments/explanation.

[2022-06-21 22:45] forsyth2 commented on #212
It looks like we do have information on the sizes of tars (https://github.com/E3SM-Project/zstash/blob/master/zstash/settings.py#L72), so that may be useful.

[2022-08-06 02:36] nanr opened #215 "Recover from md5 checksum error"
I am archive a large number of netcdf files on HPSS using zstash create, which results in multiple tar files.   When I check the zstash archive, I get md5 checksum errors on the FIRST tar file (00000.tar).  the other tar files seem to be fine.

How can I recreate a single tar file with that replaces only the files that are on the failed archive tar file?    Is there a way to tell zstash to recreat

[2022-08-26 22:56] chengzhuzhang opened #217 ""file could not be opened successfully" on a v2.LR.historical_0101 tar ball"
I'm trying to extract the v2.LR.historical_0101 run from NERSC HPSS archive and ran into "file could not be opened successfully" error on zstash/00005.tar when beginning extract `archive/atm/hist/v2.LR.historical_0101.eam.h0.1978-05.nc`.

To reproduce:

[code]
Not sure how to trouble shooting, maybe it's a problem in the archive?

The Traceback is as follows:

[code]

[2022-08-26 23:55] chengzhuzhang commented on #217
After consulting @golaz, a failed extraction leave an incomplete tar file (i.e. 00005.tar in this case) on the local disk under `zstash/`. and zstash will not retrieve it from tape the second time because it thinks the file is already there. To remove the tar file on disk (under zstash/ sub-directory) and try again resolved the problem.

An earlier [feature request](https://github.com/E3SM-Project

[2022-08-26 23:58] chengzhuzhang commented on #198
@forsyth2 The issue described in #217 seems crippled a few users..I think we may need to prioritize this feature...

[2022-08-29 14:22] forsyth2 commented on #198
@chengzhuzhang Thanks for looking into #217. I've marked this issue as high priority (for the December 2022) release -- or do you mean such high priority we should have an emergency release?

[2022-08-29 16:38] chengzhuzhang commented on #198
Hi @forsyth2 Thank you for labeling this as high priority. I think it would be nice to have the new feature implemented and have a new release. If there will be an emergency release of e3sm-unified, we can add the new version of zstash.

[2022-08-31 23:15] forsyth2 opened #219 "Update branch for actions"
Now that `master` has been renamed to `main` (https://github.com/github/renaming), we have a few more steps to do.

https://docs.github.com/en/repositories/configuring-branches-and-merges-in-your-repository/managing-branches-in-your-repository/renaming-a-branch specifies "GitHub Actions workflows do not follow renames, so if your repository publishes an action, anyone using that action with `@{old

[2022-09-12 21:56] forsyth2 opened #220 "Update Python version"
Update Python version in `.github/workflows/build_workflow.yml`

[2022-09-12 21:59] forsyth2 commented on #220
@tomvothecoder I notice in https://github.com/E3SM-Project/e3sm_diags/pull/621/files you have:
[code]
However, `zstash` has multiple `python-version` specified in https://github.com/E3SM-Project/zstash/blob/main/.github/workflows/build_workflow.yml. Does setting this in `matrix` negate the need to have it anywhere else?

[2022-09-12 23:37] tomvothecoder commented on #220
To break it down, the build workflow contains jobs such as `pre-commit-hooks` and `build`. These jobs might use some prebuilt `actions` such as `actions/setup-python@v2`, which includes a setting for `python-version`.

Example:
https://github.com/E3SM-Project/zstash/blob/30d1784f6de2ebe722170a654a83b4c380a45a55/.github/workflows/build_workflow.yml?rgh-link-date=2022-09-12T21%3A59%3A36Z#L11-L27

In

[2022-09-12 23:49] #219 closed

[2022-09-29 13:58] forsyth2 opened #223 "Port Cori-specific information to Perlmutter"
Port Cori-specific information to Perlmutter -- e.g., places in the code/docs mentioning `haswell` or `knl`. Tests should pass on Perlmutter.

[2022-10-12 23:24] forsyth2 commented on #220
Fixed by #224

[2022-10-12 23:24] #220 closed

[2022-10-13 00:05] #198 closed

[2022-10-31 16:06] #212 closed

[2022-10-31 16:07] forsyth2 commented on #217
Resolved by #218.

[2022-10-31 16:07] #217 closed

[2022-11-01 12:57] forsyth2 opened #230 "Replace Cori with Perlmutter"
Replace Cori with Perlmutter.

`tests/test_globus.py`:
[code]

`zstash/globus.py`:
[code]

[2022-11-01 13:05] forsyth2 commented on #223
#227 partly resolves this issue. However, we still need to fully replace Cori with Perlmutter. This will require finding the correct Globus endpoints to use.

`tests/test_globus.py`:
[code]

`zstash/globus.py`:
[code]

[2022-11-01 13:05] forsyth2 commented on #230
Closing this issue in favor of simply keeping #223 open.

[2022-11-01 13:05] #230 closed

[2022-11-01 17:21] forsyth2 opened #232 "`AttributeError: 'EntryPoints' object has no attribute 'get'`"
I'm getting `AttributeError: 'EntryPoints' object has no attribute 'get'` again on Cori and Perlmutter, but strangely not Chrysalis, despite recently testing/merging #228 to solve this exact issue.

Because of this error, I ended up creating the commit for #231 on Chrysalis rather than Cori or Perlmutter.

[2022-11-08 23:39] forsyth2 commented on #171
Resolved by #214.

[2022-11-08 23:39] #171 closed

[2022-11-08 23:40] forsyth2 commented on #172
Resolved by #185/#214.

[2022-11-08 23:40] #172 closed

[2022-11-09 22:03] forsyth2 commented on #223
The test was skipping because I needed to set the following in `/global/homes/f/forsyth/.zstash.ini`:
[code]
and not because of the Perlmutter endpoints above. In fact, the Cori endpoint works fine. I'm using the Cori endpoint since I don't see an "Activate" button for the Perlmutter endpoint (https://app.globus.org/file-manager/collections/6bdc7956-fc0f-4ad2-989c-7aa5ee643a79/overview).

[2022-11-10 00:58] forsyth2 commented on #223
From NERSC support:

With that in mind, it probably would be good to set the Perlmutter endpoints in `tests/test_globus.py` and `zstash/globus.py`. So, reopening.

[2022-11-10 16:39] forsyth2 commented on #223
The tests pass with the Cori endpoint in `/global/homes/f/forsyth/.zstash.ini`
[code]
but not with the Perlmutter endpoint
[code]

[2022-11-15 23:54] forsyth2 opened #236 "Remove Cori endpoints"
Continuation of #223. Once Cori is offline, remove Cori endpoints.